[2015-09-01 20:34] MrJoy opened #3 "IntelliJ, and multiple files..."
A bit of a two-fer, but could you add:
1. Support for multiple files with an explicit load order -- last-one-wins on key conflicts.
2. Ability to use this with IntelliJ and non-Python projects (in particular, for JVM-based projects of course).

Basically I have a scaffold of build tools using [dotenv](https://github.com/bkeepers/dotenv) and want to be able to make use of the relevant files from In

[2015-09-02 03:45] Ashald commented on #3
Hooray! First issue. :)

There are no problems from technical point of view but I guess how to do UI for this... Do you have any ideas?

Due to IntelliJ IDEA architecture it's not possible to implement this as one-fro-all so I will need to add special code fore each platform. What will be priorities for you? IntelliJ IDEA itself?

[2015-09-02 06:21] MrJoy commented on #3
IntelliJ IDEA Community Edition is what we're using around here.  We specifically have Scala-based projects on JDK 1.6 and 1.8, built using Maven.  Not sure if any/all of that is relevant but including it just in case.

As for UI, I'd do a simple list view with options to move an item up/down the list.  It should be reasonably self-evident with little/no explanation that it runs through them first

[2015-09-03 16:25] Ashald commented on #3
That's very relevant, thanks. What type of build configuration are you using? Is it built-into IDEA? Or you using some kind of Scala plugin? If it's built into IDEA, is it CE or PE?

[2015-09-03 17:27] MrJoy commented on #3
It's a plugin -- one of the preferred ones it recommends when you set Idea up the first time, and we're using CE.

Sent from my iPhone

[2015-10-10 03:16] stableShip opened #4 "add support for toml"
add support for toml??

[2015-10-11 06:49] Ashald commented on #4
What's your usecase? As I see there are 'sections' with values and values outside of sections. So we either need to read values in the root or take them from one of sections...

[2015-10-29 00:56] frnhr opened #5 "Get env from a bash script"
Is it possible to get env from Bash script? Basically equivalent to running `source my_env.sh`. Presumably, only variables that are `export`-ed should be used.

my_env.sh:

[code]

[2015-10-30 17:41] smcoll opened #6 "NullPointerException related to filename of .env"
When using this plugin, i got a `java.lang.NullPointerException`, and after some fiddling around, it seemed to be related to the filename of the .env i was using: ".env.local".  When i changed it to "dev.env", it worked fine.

[2015-10-30 18:34] Ashald commented on #6
Oh, that's a nice catch! Thanks! I will release new version soon with fix for this.

[2015-11-19 18:40] ansel1 commented on #3
Would you be able to make this work with all runtime configuration types by moving support for .env files up to the project level?  In other works, configure the .env file (or list of files, love that idea) in the project settings, and use that to create an environment inherited by all runtime configurations?

[2015-11-19 21:33] smcoll opened #7 "Django Console stopped reading environment variables"
i've been using the plugin successfully for some weeks.

Today, at some point, i couldn't use the Django Console because it was complaining about missing configurations (`SECRET_KEY`, for example) that should be available.

[code]

The settings file selected for Django support reads the `SECRET_KEY` value from the environment (`'SECRET_KEY': os.environ.get('SECRET_KEY')`).

This had been working f

[2015-11-19 21:45] Ashald commented on #7
I will try to reproduce it and will be in a contact, stay tuned. ;)

[2015-11-19 21:46] Ashald commented on #3
Ansel, that's a nice idea. I will look into it. Thanks.

[2015-12-04 08:17] syphar opened #8 "fields overlap when there are multiple projects in the current context"
The first field here is the project to select, it overlaps with the env-file field.
![screenshot 2015-12-04 09 14 52](https://cloud.githubusercontent.com/assets/540890/11584837/9a395d4a-9a67-11e5-90cd-1a1b1067c60a.png)

clicking on them does bring me to the project-field.

[2015-12-11 20:48] smcoll commented on #7
@Ashald is the "Languages & Frameworks > Django" implementation supposed to have it's own "Read from file" selection (i don't see a selector there), or is it borrowing from the "Console > Django Console" values?

[2016-04-13 16:06] davidfraser commented on #8
This makes using this quite hard work, which is a shame as it's a great extension

[2016-04-14 20:45] Ashald commented on #8
Oh, looks awful. :)

What version of PyCharm you're using?

I'll try to fix that till the end of the month (sorry, super-busy with other things so hard to find spare time)

[2016-04-14 20:47] Ashald commented on #7
Ooops, was out of the loop for a while.

I think believe current implementation only integrates with run configuration window...

Hope to do a release with bugfixes within next month - will try to get to this issue as well.

[2016-04-14 20:50] Ashald commented on #5
Not an expert on security etc but I believe that this may led to execution of 'unexpected' code. OTOH I saw number of cases where people don't mind such a risk. Will see, maybe I will be able to add it as an optional feature that can be enabled separately...

[2016-04-14 21:59] smcoll commented on #7
@Ashald that would be welcome.  i miss using the plugin.

[2016-04-25 09:05] davidfraser commented on #8
I've had this on PyCharm 2016.1 (and the patch releases). Thanks!

[2016-05-05 03:22] Ashald commented on #8
WIP, trying to figure out how to hack into PyCharm UI properly. :)

[2016-05-09 16:38] Ashald commented on #8
Fixed, expect a new version soon.

[2016-05-09 16:38] #8 closed

[2016-05-09 16:52] Ashald commented on #6
Unfortunately I wasn't able to reproduce the issue. @smcoll can you please provide more details if you still able to reproduce it?

[2016-05-29 16:40] smcoll commented on #6
@Ashald no longer seems to be a problem, using 2016.1.4.  Maybe it was a PyCharm bug that has since been fixed.

[2016-05-29 16:40] #6 closed

[2016-05-29 16:47] ashald commented on #6
@smcoll thanks for the update.

[2016-06-02 18:05] smcoll opened #14 "IDE Fatal Error: NullPointerException"
PyCharm 2016.1.4 reported a fatal error.  The notice came when i opened a second IDE window, but i don't now if that was when it occurred, or if that was when i was notified: `Exception in plugin Env File. Today at 9:19 AM. Occurred 2 times since the last clear. Unread.`

This is all the context i have, unfortunately.

[code]

[2016-06-03 14:34] ashald commented on #14
Thanks for the report - I'll look into it and will try to release fix soon.

[2016-07-21 13:58] cancan101 commented on #7
For some visual clarification, there are two locations to configure Django. Only one of them is used for the run commands and that one does not currently use the env file:

![image](https://cloud.githubusercontent.com/assets/51059/17025358/70420c0e-4f29-11e6-9caa-65a1e992dbd3.png)
![image](https://cloud.githubusercontent.com/assets/51059/17025387/8dffbb1a-4f29-11e6-99f2-dbd74cf5a917.png)

[2016-07-21 14:43] beruic commented on #7
I just ran into this issue. Cannot tun `manage.py` commands correctly because I cannot load my environment file under Languages & Frameworks > Django.

[2016-07-22 17:04] RSully commented on #5
I'd love to see this. My .env file is formatted as `export A=B` even though I don't run arbitrary code, just so I can easily `source` it. How do you guys use env files outside of your IDE without `export`?

[2016-07-27 03:04] ashald commented on #5
@RSully thank you for the feedback!
I still don't have a feasible way to implement this so for now I cannot promise you that it will become a feature.

Regarding your 2nd question: there are actually 2 ways.
1) Use `foreman` or `honcho` to set environment variables from `.env` files rather than exports in bash script
2) you can achieve the same with a bash 1-liner: `while read -r line; do export $

[2016-07-27 03:08] ashald commented on #7
Can you please explain how do I get to the window that doesn't have env file component?

[2016-07-27 03:46] cancan101 commented on #7
I am using Pycharm Pro:
![image](https://cloud.githubusercontent.com/assets/51059/17163223/0d9d066a-538b-11e6-9cf4-1597e6519352.png)

[2016-07-28 09:36] beruic commented on #7
I should mention that I have switched to using [Django-environ](https://github.com/joke2k/django-environ/) instead. It works very well (although the documentation could be better), and is IDE independent.

[2016-08-05 13:30] franzlst opened #15 "PYTHONPATH cannot bet set"
The `PYTHONPATH` specified in the .env file seems to be overridden by PyCharm. Even with a very simple .env file like

[code]

and unchecking "Add content/source roots to PYTHONPATH", the `PYTHONPATH` ends up being taken from the bash in which PyCharm was started.
Any other key, like

[code]

is working.

I was verifying this by printing `os.environ`.

[2016-08-05 13:34] franzlst opened #16 "Add possibility to append to an existing variable"
For an .env script like

[code]

the plugin should prepend the current `PATH` with `/my/path`. Thus, if `PATH=/another/path`, the environment should result in `PATH=/my/path:/another/path`. Currently, `PATH` ends up being `/my/path:${PATH}`

[2016-08-08 09:40] EvertEt commented on #3
Any chance this is coming to IDEA?

[2016-08-09 01:51] smcoll commented on #14
@Ashald i ran into this again today.  Do you need anything to help debug?

[2016-08-10 04:32] ashald commented on #3
@EvertEt would be helpful to hear desired use-case - how exactly would you like this one to be integrated? For what kind of run configurations?

[2016-08-10 04:46] ashald commented on #14
@smcoll I tried to reproduce an error but without any success. Can you share more details what actions lead to it?

[2016-08-10 04:49] ashald commented on #14
BTW, are you running CE or PE version?

[2016-08-10 05:07] ashald commented on #15
I'm not sure that it's doable with PyCharm (as it's doing a lot of magic related to Python environment) but I'll check whether I can find a way to do that.

[2016-08-10 05:09] ashald commented on #16
Proper support would required shell script interpreter invocation but maybe we can go with simplified support where only `$NAME` or `${NAME}` is supported (as opposed to `${NAME:-default}` and so on). Would it suit your use-case?

[2016-08-10 05:41] EvertEt commented on #3
@Ashald Thank you for your reply! I would like to be able to load an .env file for a grails run configuration. (Now I have to fill in the env vars in IDEA itself or run it with dotenv).

[2016-08-10 05:52] franzlst commented on #16
Yes, that would be perfect. That would be the same behavior as in the "Environmental variables" that you can set manually in the PyCharm run configuration.

[2016-08-21 00:07] smcoll commented on #14
Good news: figured out how to replicate the issue.  The selector for the type of file (env/yaml) next to the file selector was somehow empty.  Once i selected `.env` the issue sorted itself out.  i don't know where the empty option came from; maybe that was an artifact from an earlier version of the plugin?

i'm on 2016.2.1 PE now.

[2016-08-24 16:55] cancan101 opened #17 "Allow wrapping the value in " marks to escape spaces, etc"
eg `FOO="ALEX R\nwas here"`
Right now, the " are left in the final string.

[2016-08-26 02:58] ashald commented on #17
Sonds legit. BTW, did you try `yaml` format? Or it's important to you to use `.env`?

[2016-08-26 14:28] cancan101 commented on #17
I want to use `.env` so I can also `source` the file in unit tests.

[2016-09-29 12:57] uhavin commented on #17
I am facing the exact same problem. Would much appreciate a fix.

[2016-11-28 10:01] olslash commented on #3
i'd also love to see this for intellij-- in any of the build/run configurations (no idea why they haven't brought this to the IDE on their own yet)

[2016-11-30 14:17] seekheart opened #18 "Pycharms can't get an env var?"
I have an .env file that has an environment var pointing to a file location, pycharm with the ENV plugin cannot find it still despite following the README.

[2016-11-30 14:24] ashald commented on #18
I'm afraid the `EnvFile` plugin has nothing to do with it. Please check whether you use relative or absolute path. If it's a relative path - check what's your current working directory, and if it's absolute - check permissions.

[2016-11-30 14:25] #18 closed, assigned to ashald

[2016-11-30 14:25] ashald commented on #17
I'll try to include it into the next release which I hope will happen before the end of the year.

[2016-11-30 14:27] ashald commented on #4
As the use-case is not entirely clear to me and nobody is willing to assist with clarifications I have no other choices except close the issue. If somebody needs this features - please feel free to comment here or open a new issue.

[2016-11-30 14:27] #4 closed

[2016-11-30 14:28] ashald commented on #14
Unfortunately I wasn't able to reproduce the issue. Will appreciate if people can comment whether they still experience the issue and whether there is a sure way to reproduce it.

[2016-11-30 14:29] ashald commented on #3
Not sure that it'll be easy to add this to all build configurations but I'll see what I can do about it.

[2016-11-30 14:30] #5 closed

[2016-12-05 15:57] pymen opened #19 "Support of Django manage.py console"
Please allow to use EnvFile in
https://www.jetbrains.com/help/pycharm/2016.1/running-tasks-of-manage-py-utility.html
picture: http://joxi.ru/RmzQLZ4tzd4jrO

[2016-12-13 13:00] underyx commented on #14
@Ashald happened to me today. I think the latest PyCharm update (which I installed yesterday night) somehow cleared my `.env` selection for the file type setting?

It might be enough to just add some graceful handling to that field being empty.

[2017-01-09 23:12] refack commented on #3
http://stackoverflow.com/questions/27093002/specifying-webstorm-environment-from-file

[2017-01-10 05:47] ashald commented on #3
Finally I was able to find a bit of time to look into this deeper. There are good news and bad news.

Good news are:
1) Yes, I'm working on it and it's coming
2) I'll try to roll out multiple files support together with multiple platforms support

Bad news are:
1) There are no truly generic way to add support for such functionality across all platforms
2) But there is semi-generic way to do that (

[2017-01-10 23:18] refack commented on #3
👍 WebStorm

[2017-01-16 05:49] ashald commented on #3
As it usually happens, there are good news and bad news.

Among the good news is that I think I made some progress on my research how to bring `EnvFile` functionality to more platforms (at least IDEA and RubyMine).

The bad news... It looks like IDEA platform is done in a way that there is no generic way to bring this functionality to all platforms, by design (or by a flaw in design). In long term

[2017-01-17 01:08] ashald commented on #17
Fixed in `v2.0` that's coming anytime soon.

[2017-01-17 01:08] #17 closed, assigned to ashald

[2017-01-17 01:13] ashald commented on #19
This is not feasible to implement considering current design of the plugin so it won't be included in `v2.0` but may be added in future. Stay tuned.

[2017-01-17 01:16] ashald commented on #19
Closing in favor of #7.

[2017-01-17 01:16] #19 closed, assigned to ashald

[2017-01-17 01:17] ashald commented on #7
This is not feasible to implement considering current design of the plugin so it won't be included in v2.0 but may be added in future. Stay tuned.

[2017-01-17 01:18] ashald commented on #15
It's impossible to implement due to the way how PyCharm handles `PYTHONPATH` so closing this as won't fix.

[2017-01-17 01:18] #15 closed, assigned to ashald

[2017-01-17 01:19] ashald commented on #14
This should be fixed in `v2.0` so closing the issue.

[2017-01-17 01:19] #14 closed, assigned to ashald

[2017-01-17 06:13] ashald commented on #3
Version `2.0` is now available for downloads. Please check-out the `README.md` as it contains updated usage guide.

I'm closing this issue as `v2.0` implements support for multiple files and provides integration with IDEA and RubyMIne (lower hanging fruits)/ For other platforms - please **create new issues and specify not only platform** (e.g. `WebStorm`) **but also run configuration types** (e.g.

[2017-01-17 06:13] #3 closed

[2017-01-17 07:30] olslash opened #20 "Support request -- IDEA/Cursive Plugin, Clojure REPL run configurations"
This is maybe an uncommon use case, but I use the [cursive](https://cursive-ide.com/) plugin for IDEA which adds Clojure support and adds a couple new run configuration types. Would be great to be able to use EnvFile with those.

Pic of the configs attached. I'd be open to adding this myself with some guidance if you have time to write a little how-to 😄

![image](https://cloud.githubusercontent.co

[2017-01-17 13:04] ashald commented on #20
Meh, I just dropped contribution guide from the readme since there were 0 people willing to contribute so far. %) I'll check that plugin to see what integration options do we have and will comment here later this week.

[2017-01-18 06:45] ashald commented on #20
After doing a quick research (and reverse engineering - more about it below), it looks like it's not possible to implement this feature, at least right now.

`EnvFile` relies on JetBrains plugin platform in general and on `RunConfigurationExtension` extension points in particular. This means that in order to integrate `EnvFile` with any given run configuration 2 conditions must hold:
1) Plugin/pro

[2017-01-18 07:10] olslash commented on #20
Awesome, thanks for taking the time! I sent a quick message to one of the developers on Slack, linking this issue-- hopefully he can help us get the changes you need into Cursive.

[2017-01-18 08:44] grundic opened #23 "Remember last n files"
Great plugin, enjoying using it so much!

One of the issues I come over is necessity so select same file multiple times when running different scripts. Is it possible to save recent used files and add them to the drop down menu (next to `.env file` and `JSON/YAML file`)?

Thank you.

[2017-01-18 20:35] cursive-ghost commented on #20
Thanks, I'll take a look at this and see what needs doing.

[2017-01-20 16:25] smcoll opened #24 "run configuration not finding env vars"
This happened after i updated the plugin to 2.0.  i have a `.env` file enabled and selected in the "EnvFile" tab, per instructions.  When i run the configuration, no env vars have been applied.  For the moment, i'm manually adding env vars the old way, to get by.  Let me know if there's any further information which would be helpful.

PyCharm 2016.3.2 build 163.10154.50

[2017-01-20 17:50] ashald commented on #24
Can you please upload a screenshot of the `EnvFile` tab? Also, is there anything in `Event Log` (it's either in bottom right corner if you have toolbar displayed or you can open it via bottom-left corner popup)?

[2017-01-20 17:56] smcoll commented on #24
Nothing in the event log except "Tests Failed", but your request for a screenshot smoked out the issue.  i had pointed it to the wrong file; a file called `.env.local` which is formatted like a bash file.  Thanks!

[2017-01-20 17:56] #24 closed, assigned to nobody

[2017-01-22 19:46] drdaeman opened #25 "Migration from old-style settings to the new ones?"
I've updated plugin today and haven't noticed new EnvFile tab, so thought it's broken (I'm on PyCharm EAP build, so I've assumed things could break quite easily). Thanks to a picture in `README.md`, I've figured it all out, though.

However, "EnvFile" tab was empty, and my `.env` file was only mentioned as `ENV_FILE_PATH=/full/path/to/.env` and `ENV_FILE_IS_ENABLED=true` variables in the vanilla "

[2017-01-22 23:14] ashald commented on #25
I thought about that but such functionality would've added more complexity and I'm not sure it would've worked flawlessly... So I decided to to implement it and add a warning to the README. I understand that it causes some inconvenience but since it's a one-time migration I hope it's not too troublesome.

[2017-01-22 23:15] ashald commented on #23
The more I think about it the this feature makes sense.

I'm wondering whether we should keep history in the project file or just store it in memory so it'll reset after IDE re-start.

[2017-01-22 23:27] ashald commented on #7
The biggest problem with Django support in PyCharm is that it's part of the "ultimate" edition and therefore there are no source code available for any components involved. It appears that `EnvFile` version `1.x.x` was partially compatible with it due to a mere coincidence (I was doing dirty patching in order to integrate the plugin with UI).
Since version `2.0` was released it appears that there

[2017-01-22 23:27] #7 closed

[2017-01-22 23:38] ashald commented on #16
I'm going to add this as an optional feature using https://commons.apache.org/proper/commons-lang/javadocs/api-3.3.2/org/apache/commons/lang3/text/StrSubstitutor.html

[2017-01-23 09:29] grundic commented on #23
I would prefer to keep the history in a file, as this would be more convenient. For example, I store some credentials in those files and using them among different projects. Also I do a lot of branch switching and running arbitrary scripts. This would make selecting correct env file much easier.

[2017-01-23 10:04] drdaeman commented on #25
Ah, yes, if it's not straightforward then it makes sense. I've just thought previous settings had clean mapping to the new ones.

I've missed readme text when upgrading plugin, only noticed it when the process misbehaved and I found out there are no settings anymore where they used to be, and went to GitHub to ask about this.

[2017-01-23 10:04] #25 closed, assigned to nobody

[2017-01-23 10:08] drdaeman commented on #7
Sorry to bump, but does this apply to "Build, Execution, Deployment > Console > Python Console" as well? (Or should I create another issue for this?)

I'm on professional edition, but I believe plain (non-Django) Python console is a part of community edition. EnvFile used to work there as well, now it's gone.

[2017-02-02 02:53] ashald commented on #7
Yeah, unfortunately, that's not going to work. Previously EnvFile plugin was injecting its UI components into so-called `PyCommonOptions` panel. It's widely used in PyCharm and that's the reason why we saw the plugin in many places. Unfortunately, such approach involved some "hacking" which wasn't super stable and absolutely not compatible with other platforms. The new version integrates in a more

[2017-02-20 13:06] ssipos90 opened #26 ".env syntax highlight support / PHPStorm support"
Hello,

Do you plan on including support for PHPStorm?
It would be nice.

Thanks!

[2017-02-22 17:16] ashald commented on #26
What run configurations you would like to be supported in PHPStorm?

[2017-02-22 17:16] Ashald commented on #26
What run configurations you would like to be supported in PHPStorm?

[2017-02-25 13:19] jackwh commented on #26
I don't personally use run configurations within PhpStorm, but it'd just be great to have syntax highlighting available in `.env` files.

[vlucas/phpdotenv](https://github.com/vlucas/phpdotenv) is used in several big PHP frameworks (e.g. Laravel).

[2017-02-25 16:16] ashald commented on #26
This plugin doesn't provide syntax highlight for `.env` files. Yet. Although that's a nice idea and I'lll see whether it's something that can be added.

[2017-03-08 16:10] yoanthiebault opened #27 "Environment variables aren't loaded in IDEA"
Hi,

First of all, thank you for this nice plugin !

I installed it but it didn't load the environment variables with IntelliJ IDEA Community Edition 2016.3.5. For information:
- Here is the run configuration:  ![settings](https://cloud.githubusercontent.com/assets/10627530/23711628/acfc6778-0420-11e7-96a3-9b5fcd83c3fd.PNG)
- The .env file just contains `FOO=BAR`
- `System.getenv().containsKey("FO

[2017-03-08 19:48] ajaxon commented on #27
I just tried using the plugin with IntelliJ IDEA 2016.2.5 and mine are not loading either.

[2017-03-11 21:17] ashald commented on #27
Looks like a bug. @yoanthiebault opened a PR #28 which looks good so once it's merged I'll release a new version.

[2017-03-13 23:47] birkholz opened #29 "Can't manually enter file paths"
In 1.0.1, you could manually type in the path to the env file, but in 2.0.0 it requires a file dialog. However, in OSX's default file dialog, there's no way to select hidden files, and all dot-prefixed files are hidden, including `.env`.

This means I had to downgrade to 1.0.1 in order to select my `.env` files.

[2017-03-14 00:47] ashald commented on #29
@birkholz thanks for the issue report! Do you have an idea what could be the best UI for manual entry?

[2017-03-14 00:49] #27 closed, assigned to ashald

[2017-03-14 04:21] ashald commented on #29
I'm sure it's not the best way around but as a quick solution - I added some code that allows manual editing for paths in EnvFile table on double click.

[2017-03-14 05:54] ashald commented on #29
Version `2.1.0` was release and pending review form JetBrains.

[2017-03-14 05:55] ashald commented on #23
Implemented in version `2.1.0` which was released and pending review from JetBrains.

[2017-03-14 05:55] #23 closed, assigned to ashald

[2017-03-14 05:55] #29 closed, assigned to ashald

[2017-03-14 08:35] grundic commented on #23
Awesome! Can't wait to update and start using it. Thank you!

[2017-03-14 09:39] ssipos90 commented on #26
@Ashald, the plugin doesn't work on PHPStorm.
I have two use cases, one using Behat for PHPStorm to run acceptance testing and I've wrote a php wrapper to call behat, but that lead to all sorts of issues.
At this point, i have a small sh that sources my .env file and executes the behat through CLI.

[2017-03-14 12:04] ashald commented on #23
Let me know whether you will have any feedback on how it works. ;)

[2017-03-14 12:09] ashald commented on #26
So if I U understand you right you looking for `Behat` run configuration support in PhpStorm? OK, I'll take a look!

[2017-03-14 19:05] birkholz commented on #29
@Ashald Awesome, that works for me, thanks for the quick fix. :+1:

[2017-03-20 16:29] mtahirtariq opened #31 "Add feature to automatically pick .env file(s) from project_root directory"
Thanks for this awesome project, it solved a lot of issues with env management for me :).
I believe it would be awesome to add a feature (may be disabled by default) which when enabled make `EnvFile` to automatically load `.env` file(s) from `project_root`.
So that we enable this feature and we don't need to add `.env` files in run configuration for each project we just place the `.env` file in `p

[2017-03-25 20:56] refack opened #32 "java.lang.IllegalArgumentException: Malformed \uxxxx encoding."
[code]
Adding my file as ZIP incase it's an encoding / UTF-8 BOM issue
[14.10.25017.zip](https://github.com/Ashald/EnvFile/files/870359/14.10.25017.zip)

[2017-03-25 21:08] refack opened #33 "Document how to build"
I would like to try and patch for a PR, but I'm new to IDEA plugins...

[2017-04-10 13:39] dmwyatt opened #34 "Support EnvFile in Python Console and for manage.py"
There are two other places besides run configurations where you might need your .env file read.

Settings > Languages & Frameworks > Django > Manage.py tasks > Environment variables
Settings > Build, Execution, Deployment > Console > Django Console > Environment variables

If .env file isn't supported here, I have to manually copy all required values from .env to each of these places.

[2017-05-01 12:19] jpoutrin opened #35 "EnvFile seems to be broken for PyCharm 2017.1.2"
Following the steps,
using a bash or .env file, does not pick up the variables....

[2017-05-01 13:32] refack commented on #35
I just check. It works for me. (on Windows).
@jpoutrin try YAML file, they work best for me.

[2017-05-01 14:14] ashald commented on #35
@jpoutrin can you please share mode details? Did it work for you with previous versions? Can you share your `.env` file? Bash files are not supported, just for the record.

[2017-05-01 14:15] ashald commented on #34
Unfortunately this is not feasible to implement with the current state of the JetBrains extensions API. Please see https://github.com/Ashald/EnvFile/issues/7 for details.

[2017-05-01 14:15] #34 closed, assigned to nobody

[2017-05-01 14:16] ashald commented on #32
Thanks for report, will try to fix it next release!

[2017-05-01 14:19] ashald commented on #31
At the first glance this sounds as a cool idea but on a 2nd thought I'm wondering whether this is really a good thing to do. After all, there are too many questions and unclarity. What if there are several `.env` files? It might be non-intuitive where variables are coming from and so on. I believe you can try to achieve similar functionality by editing the run configuration template you use. If th

[2017-05-01 14:26] jpoutrin commented on #35
@Ashald
sorry I just installed the plugin.
I also want to stick to bash format as i am using direnv alongside.
not sure where to get some log for you guys.
[envrc.txt](https://github.com/Ashald/EnvFile/files/968001/envrc.txt)

[2017-05-01 16:00] ashald commented on #35
@jpoutrin this plugin doesn't support bash and there is no feasible way to implement it so far. Please take a look at a proposed workaround https://github.com/Ashald/EnvFile#bash-workaround

[2017-05-01 16:00] #35 closed, assigned to nobody

[2017-05-09 15:29] lisbakke opened #36 "Node.js integration"

[2017-05-09 15:31] ashald commented on #36
What exact run configurations you would like to have supported?

[2017-05-09 15:46] lisbakke commented on #36
Support for the `Node.js` configuration would be awesome!

[2017-05-09 15:48] ashald commented on #36
No promises at this time since there is no guarantees it can be done (it always depends on the way how the run configuration is implemented in the platform) but I'll take a look and will let you know!

[2017-05-09 15:52] lisbakke commented on #36
Thanks!

[2017-05-28 23:52] cursive-ghost commented on #20
@Ashald I've looked into this. I can see what's required for the second item in your list - it looks like extending `RunConfigurationExtensionsManager` and calling its methods is the way to go. I don't think this is complicated.

I'm not sure what to do for the first though. Is just doing what `PythonRunConfigurationExtension` does sufficient, i.e. just providing an extension point? Is that step r

[2017-05-30 14:30] nabeelio opened #37 "go support"
It'd be nice to get some support for golang, seems to be used somewhat pervasively. Thanks!

[2017-06-02 23:49] natebrunette commented on #26
Additionally:

* PHPUnit
* PHP Script
* PHP HTTP Request

Would be nice!

[2017-06-13 16:19] ashald commented on #37
I will see whether it can be done, please hold on...

[2017-07-13 07:51] ppwfx commented on #37
yeah would be really cool if you could add support for goglang! :) I tried to implement it myself, but Im getting nowhere.. :/

[2017-07-31 07:20] jack-kerouac opened #38 "support env files for Gradle Run/Debug configurations (IDEA 2017.2)"
With IntelliJ IDEA 2017.2, environment variables are supported for Gradle Run/Debug configurations: https://www.jetbrains.com/idea/whatsnew/#v2017-2-gradle.

It would be great if the "EnvFile" tab would also be available for Gradle configurations.

[2017-08-10 14:08] ppwfx commented on #37
push

[2017-08-14 16:57] smcoll opened #40 "broken in PyCharm 2017.2.1"
i had been using the plugin successfully in several versions of PyCharm, up to 2017.1.2,  But when i updated to 2017.2.1, the environment variables are no longer applying, which breaks my run configurations.  Traceback just indicates missing environment variables.  New configurations aren't working, either.  i do have "Enable EnvFile" checked and an `.env` file selected in all cases.

[2017-08-14 17:02] smcoll commented on #40
Nevermind; it was a coincidence in timing.  Implementation error on my part.

[2017-08-14 17:02] #40 closed, assigned to nobody

[2017-08-17 03:29] ashald commented on #37
I'll try to take a look at it as fast as I'll get a bit of free time. ;)

[2017-08-19 20:33] ashald commented on #37
I spent some time poking around Gogland sources and unfortunately it seems that it's not possible to integrate with it at this time. The key point for an IDE or run configuration to be compatible with this plugins is to integrate with so-called `runConfigurationExtension` interfaces one way or another. There is a generic one used by IDEA and there are specific ones used by PyCharm/RubyMine. Unfort

[2017-08-19 21:03] ashald commented on #38
Cannot say for sure yet but it seems that it might be possible - take some time to figure out available integration points...

[2017-08-23 19:25] nabeelio commented on #37
@Ashald that's fair. FYI, they do have the Gogland plugin in Intellij proper, I guess that's more the one I was referring to.

[2017-08-23 19:32] ashald commented on #37
I'm not 100% sure but I think the IDEA plugin is the same code that is used in Gogland.

[2017-08-24 14:03] nabeelio commented on #37
Ah I see what you mean, so that interface differs in the plugin. Maybe open a ticket on their tracker, they're pretty good about that stuff

[2017-09-05 22:32] DemianTinkiel opened #41 "Feature request - Add support for docker in Intellij"
I'd like to have the same functionality for Docker run configurations where we use ENV file for docker as if it was using docker run **--envfile** param

[2017-09-11 03:40] zironycho opened #42 "couldn't set ".env" file that isn't have a name."
couldn't set ".env" file that isn't have a name.

[2017-09-14 23:01] G-Rath opened #43 "Feature: support hinting from .env.example files"
A lot of projects that have `.env` files use `.env.example` as the example file, rather than provide an actual `.env`.

It would be cool if this plugin supported reading `.env.example` files, using them to generate suggestions when editing `.env` files.

[2017-09-22 00:20] AlJohri opened #44 "[feature request] directly support envdir format"
[envdir](https://github.com/jezdez/envdir) is another format for storing environment variables. the format looks like:

[code]

which can then be used in programs like:

`envdir envs/local python app.py`

right now I convert the `envs/local` folder into a `.env` file for use with this plugin but it would be great if the plugin could read the folder directly!

[2017-09-26 15:38] rbirbeck commented on #36
Hey @Ashald - did this seem feasible? it would be a great feature for node

[2017-09-26 15:48] ashald commented on #36
I recall looking at it... And on one hand I didn't find what I was looking for but on the other hand I didn't find a proof that this cannot be done. I'll try to find some time for it. OTOH, I just got in touch with JetBrains and I want to talk them into either adding required interfaces or incorporating plugin functionality into the IDE on its own.

[2017-09-26 15:48] ashald commented on #44
Sounds good, I'll think about a way to do that!

[2017-09-28 22:34] melchoir55 opened #45 "cannot set PYTHONPATH?"
This plugin seems to work well setting our environment variables.

There is one var in particular, however, which doesn't seem to be set when we put it in the env file. That is PYTHONPATH.

My test was to place PYTHONPATH in the run config env vars and print out the var to console. This worked.

When I placed PYTHONPATH in the .env file and printed the var out to console, this did not work. Howeve

[2017-10-23 09:00] pourquoi42 opened #46 "multiline support"
I need to use variablesin .env  whose values span multiple lines. Useful for e.g. ssl certifcates or - in my case - vcap setting of cloudfoundry. I definetly don't want to replace all the linebreaks of my 70-line cfg setting with \n and write it in one line.

Any support for that?

[2017-11-06 16:55] tmaslen opened #47 "JSON file in env var value not being parsed"
I have an env var that I'm storing a JSON object in. It works in my bash_profile like this...

[code]
IntelliJ picks it up, everything works fine except.

However, when I try to add it into IntelliJ using EnvFile I get this error...

[code]

Is this a known/expected issue with EnvFile?  Will it ever support JSON as a value in an env var?

Thanks (really like EnvFile),
Tom

[2017-11-13 18:16] raffian opened #48 "Dereferencing variables in Run Config fields.."
Created `environment.env` file, configured on EnvFile tab, now I'm trying to use variables in Run Config, I was banking on using variables like this because I have many run configs that share the same arguments, but the variable is not replaced; is this supported?

[code]
![env-plugin](https://user-images.githubusercontent.com/4412120/32741463-51dac538-c874-11e7-938e-b2a4121e8d9b.png)

[2017-11-16 08:41] ilansh opened #49 "Support for default values in .env"
Would it be possible to support syntax of default values in .env files?
As in
[code]

This can prove very helpful for my usage pattern.

[2017-11-30 11:21] jommgoncalves opened #50 "Use variables in env file"
Hi,

It is possible has default variables in env file?

For instance:
HOST="x"
URL_A="${HOST}/cats"
URL_B="${HOST}/dogs"

Best regards

[2017-12-06 23:03] bedge opened #51 "Allow remote env files"
For remote debugging, one needs remote env files.

This would some additional plumbing so that the remote env could be sourced by the remote interpreter at load time.

[2017-12-11 00:39] joseSantacruz commented on #36
Any update on support Webstorm

[2017-12-13 07:25] Greyvend opened #52 "[Bug] Backslash is removed from env values"
Given the following line in the *.env file:

`TEST_VAR=value\1`

the resulting environment variable set in the system is this:

`TEST_VAR=value1`

OS: Windows 10
Plugin version: 2.1.0

[2017-12-13 13:45] Varun200864 commented on #32
What is workaround for now?
How can one load file which contains special characters?

[2017-12-14 13:54] WilcoBakker commented on #36
@Ashald Any updates concerning this request?

[2018-01-12 03:15] aotd1 opened #53 "[Bug] Plugin conflict with IDEA ScalaTest"
If I create ScalaTest Run/Debug Configuration and enable EnvFile something went wrong. When I'm trying to run this configuration i've got error:
[code]

If I restart IDE - error disappears. If I change something in 'IT-tests' configuration - it appears again and Configuration Environment variables fills with .env file content (it didn't happen before as I remember)

**IDE**
IntelliJ IDEA 2017.3.2

[2018-01-15 07:38] aotd1 commented on #53
The same bug in IntelliJ IDEA CE

[2018-01-24 08:54] LutzStrobel commented on #38
I use Idea 2017.3.3 and env version 2.1.0.
The env-file tab is available but does not have any effect.
The variables used are asfollows:
EXT_DATABASE_PASSWORD=cde
EXT_DATABASE_PORT=5432
EXT_DATABASE_SCHEMA=cde
EXT_DATABASE_USER=cde
...

Whats up with my doing?

[2018-02-04 04:10] davidpope commented on #37
I'd love to use this plugin! But it looks like they didn't add the support you need in the final release. :( I created https://youtrack.jetbrains.com/issue/GO-5323 to ask for the right support, I hope I got the wording right.

[2018-02-10 18:41] fgblomqvist opened #54 "Add support for NPM run config"
Have used this plugin for quite a while now with most of my projects and I love it. Would it be possible to add support for npm run config?

[2018-03-07 02:18] cn-src opened #55 "project scope and module scope support"
In every one "Run/Debug" need to enable EnvFile, This can be very tedious.
So it's even better if the plugin have a wider scope of support.

[2018-03-07 02:35] ashald commented on #55
Did you try editing defaults to enable the plugin for all new run configs? ![defaults](https://user-images.githubusercontent.com/397987/37070611-413dc548-2186-11e8-96ff-31282727e141.png)

[2018-03-07 02:36] ashald commented on #54
IIRC last time I checked NPM configs didn't support required interface but I'll check again.

[2018-03-07 02:39] ashald commented on #53
This is from `scala` plugin? Interesting, looks like they define env vars as an immutable map. I'll check if this can be fixed but cannot guarantee there will be a way around it.

[2018-03-07 02:40] ashald commented on #52
Hm, did you try wrapping value in double quotes? It's definitely a shame the value is mangled - I'll look into a fix for this. Thanks for reporting!

[2018-03-07 02:43] ashald commented on #51
Unfortunately, at this point I don't see a way how this can be addressed. This plugin operates within IDEA process rather than "where code is run". And I don't know the IDEA platform enough even to say if it's possible at all or no. Please feel free to contribute the feature or advice on a way how this can be implemented with regards to IDEA plugin capabilities. But for now I'm going to close this

[2018-03-07 02:43] #51 closed, assigned to nobody

[2018-03-07 02:44] ashald commented on #50
I think there were numerous requests for this. This will not be compatible with the underlying `.env` file spec, to the best of my knowledge, but I'm considering adding an option to allow variables expansion. Stay tuned.

[2018-03-07 02:46] ashald commented on #50
Actually, there is already an issue for this - #16. I'm going this one as a duplicate in favor of that one. Follow referenced issue instead please.

[2018-03-07 02:46] cn-src commented on #55
Thank you very much for suggesting that this is exactly what I need.

[2018-03-07 02:46] #50 closed, assigned to nobody

[2018-03-07 02:46] #55 closed, assigned to nobody

[2018-03-07 02:47] ashald commented on #49
This will not be compatible with the underlying .env file spec, to the best of my knowledge, but I'm considering adding an option to allow variables expansion. Please follow #16 for updates.

[2018-03-07 02:47] #49 closed, assigned to nobody

[2018-03-07 02:49] ashald commented on #55
You're welcome! We should just thank JetBrains for an amazing product they created! 😄

[2018-03-07 02:51] ashald commented on #48
I hate to bring in bad news but this is out of control of the plugin. The only thing that this plugin does - it modifies a map of available environment variables available for RunConfiguration. How to process program values and other fields - that's up to the IDEA on its own.
I personally agree with you that it would be amazing to have such a feature so I'd suggest you filing an issue in JetBrains

[2018-03-07 02:51] #48 closed, assigned to nobody

[2018-03-07 02:54] ashald commented on #47
Can you provide me with a concrete file contents? Does it look like?
[code]

It's also important to know what parser do you use.

[2018-03-07 02:57] ashald commented on #46
What kind of parser are you interested in? If you can use JSON/YAML then you should be able to use multiline strings as easily as in this detailed example https://stackoverflow.com/a/21699210

[2018-03-07 02:57] ashald commented on #45
Hm, interesting, I will try that out.

[2018-03-07 02:59] ashald commented on #43
Sorry, I'm not sure I understand the use-case clearly. Can you explain it in more details please?

[2018-03-07 02:59] ashald commented on #42
Sorry, can you describe the issue in a little bit more details?

[2018-03-07 03:00] ashald commented on #41
What kind of plugin do you use to enable Docker run configurations? I'll have to check if I can integrate with it.

[2018-03-07 03:07] ashald commented on #38
I just tried it with `2017.3.4` and it worked fine. Did you verify that both the plugin and the file are enabled?
![enabled](https://user-images.githubusercontent.com/397987/37071459-9df0c8f4-218a-11e8-9a85-170cefd1aeb3.png)

Also, I wonder if it might be related to the content of your file and parser used. My test file looked exactly this way:
[code]

[2018-03-07 03:09] ashald commented on #38
Ah, wait, I used an `Application` run configuration.

Can you please provide me with a minimal `Gradle` project I can use to run some simple app that prints its environment?

[2018-03-07 03:11] ashald commented on #36
Last time I checked it was still the same. I'd suggest following an example of #37 and filing an issue for JetBrains as was done in https://github.com/Ashald/EnvFile/issues/37#issuecomment-362879301

[2018-03-07 03:19] zironycho commented on #42
I am using pycharm in macOS. Adding env-file not started with dot is worked. However I have env-file started with dot, and it couldn't see in adding dialog window.

[2018-03-07 03:22] ashald commented on #42
Ah, that's a know "feature" of macOS - just press `Cmd` + `Shift` + `.` (dot) to toggle hidden files view - works both in "Open dialog" and in Finder.

[2018-03-07 03:22] #42 closed, assigned to nobody

[2018-03-07 03:27] zironycho commented on #42
Ohhhh,  sorry for my mistake.
Thank you.

[2018-03-07 03:29] ashald commented on #42
That's not your mistake - that's usability issue on macOS. Though, I will see if I can add a note into the UI about that hotkey. 😀

[2018-03-07 15:35] LutzStrobel commented on #38
I will try it to morrow in the morning.

[2018-03-10 03:03] ashald commented on #31
Any feedback on proposed workaround with run configuration templates?

[2018-03-12 07:29] aotd1 commented on #53
Yes, scala plugin only affected. May be it can be fixed in Scala plugin itself, not in EnvFile...
It looks like Scala plugin replaces env vars with immutable map only when I change something in "Edit Configuration..."

[2018-03-15 17:57] jpsenior opened #56 "`export key=value` support"
Hi there!

I've got a project that dynamically creates env files in the format

[code]

To use this plugin, I Currently just open the file  and replace 'export ' with '' - this is a little bit of a slowdown because the env file ends up changing, and I have to maintain a copy somehow outside of source control.

Is it possible for this project to selectively recognize if a line says 'export XX' and

[2018-03-15 19:24] ashald commented on #56
Does this workaround work for you https://github.com/Ashald/EnvFile#bash-workaround ?

[2018-03-31 19:18] amccarri commented on #37
Looks like the support you need has been added to Goland/Intellij 2018.1.  Any movement on this since the 2018.1 releases?

[2018-04-16 15:50] brock opened #59 "EnvFile tab not appearing"
Any suggestions on what to do if I'm not seeing the EnvFile tab in a new debug configuration after a reboot?

EDIT: to clarify I'm not seeing this in the Docker configurations, but I am seeing them in others

[2018-04-16 18:03] ssbarnea opened #60 "Default env file should be ~/.envrc"
I would recommend going to a default ``.envrc`` file, as this became some kind of defacto standard for environment files, with more and more tools supporting it.

For example direnv uses it and it can even load the best file to use based on current folder. The tool would look for the file in current folder and its parents until it reaches user home directory. This allows users to share env files a

[2018-04-18 00:54] ashald commented on #60
I'm actually not familiar with `.envrc` - will have to look into it. On the other hand, what would you say about a workaround proposed here https://github.com/Ashald/EnvFile/issues/55#issuecomment-371002257 ?

[2018-04-18 01:03] ashald commented on #59
This means that Docker configurations do not use standard interfaces for run configurations. It might or might not be possible to implement this integration. I would need to know more details like what IDE you use, what version and what plugin you installed to get Docker run configuration (if any).

[2018-04-18 01:07] brock commented on #59
Thanks @Ashald

I'm using PyCharm 2018.1.1 on OSX, and I'm using (as far as I know) the built-in IntelliJ Docker plugins for Debug Configurations. I'm not seeing the Env File tab for Docker image, Docker-Compose, and Dockerfile.

Feel free to close if this is out of your control, or leave open so others know that it isn't supported from their end.

[2018-04-18 01:09] ashald commented on #59
It _might_ be possible to add support for this - I'll have to check how exactly those run configurations work. Due to limited time, I most likely will get to it closer to the end of the month.

[2018-04-18 01:11] brock commented on #59
Sure sure, just wanted to file a report and see if I was missing something obvious. Many thanks

[2018-04-24 20:18] orichardson commented on #59
I also can't find an EnvFile tab --- IDEA 2018.1.1, Windows 10

[2018-04-25 00:42] ashald commented on #59
@orichardson what kind of run configuration you're using?

[2018-04-25 13:39] #53 closed, assigned to nobody

[2018-05-11 20:50] raveendrahegde opened #61 "Path and type disappear upon checking the select checkbox"
Once the checkbox is selected the path and type info disappear and the come back when unchecked. However the env file are being read correctly.

OS: macOS 10.13.4
![screen shot 2018-05-11 at 1 10 59 pm](https://user-images.githubusercontent.com/5344361/39946231-45906784-5522-11e8-82a9-9e7becc3e248.png)
![screen shot 2018-05-11 at 1 11 08 pm](https://user-images.githubusercontent.com/5344361/399462

[2018-05-16 14:57] iddan commented on #31
The common practice is to only load a file with the exact name `.env`. Other `.env` files should be consumed explicitly

[2018-05-16 15:00] iddan opened #62 "Add .env files by text input instead of file selection"
Classic `.env` file is hidden in UNIX systems (it starts with a `.`). I'd like to be able to easily write the path to the `.env` file without going through the FS.
Also, it should be clear also whether it's possible to use variables like `$PROJECT_DIR$` in the path.

[2018-05-17 12:42] edsion1107 commented on #59
I also can't find an EnvFile tab --- PyCharm 2018.1.3, Windows 7, running python script.

[2018-05-22 01:01] ashald commented on #59
@edsion1107 can you please provide 2 screenshots showing plugin version from IDE settings and Run Configuration window like in examples below:
![screen shot 2018-05-21 at 21 00 17](https://user-images.githubusercontent.com/397987/40336879-246af068-5d3a-11e8-8e8e-f5ae3c58d7fb.png)
![screen shot 2018-05-21 at 21 00 34](https://user-images.githubusercontent.com/397987/40336880-247ccba8-5d3a-11e8-93ae

[2018-05-22 01:13] ashald commented on #62
While I understand your frustration with the UX, there are few tricks that make the experience better.

First of all, please take another look at the [README](https://github.com/Ashald/EnvFile#caveats) - if you're on macOS, there is a hot key that allows to switch easily between show/hide hidden files that works both in Finder and in open file dialog. In Linux-based distributions, I believe, there

[2018-05-22 01:15] ashald commented on #61
I think the issue here is that whenever file is selected its path is displayed in white which doesn't work well with light themes. That sounds like a bug and should be fixed - thanks for the discovery!

[2018-05-22 01:16] ashald commented on #60
Due to the lack of activity on this issue I will consider it to be resolved given that a workaround was proposed. Please feel free to reopen or submit another issue in case workaround does not sound like a good solution to you.

[2018-05-22 01:16] #60 closed, assigned to nobody

[2018-05-22 01:19] ashald commented on #31
Does the workaround proposed here works to enable the desired behavior https://github.com/Ashald/EnvFile/issues/55#issuecomment-371002257 ?

[2018-05-22 01:19] ashald commented on #56
Due to the lack of activity on this issue I will consider it to be resolved given that a workaround was proposed. Please feel free to reopen or submit another issue in case workaround does not sound like a good solution to you.

[2018-05-22 01:19] #56 closed, assigned to nobody

[2018-05-22 06:12] edsion1107 commented on #59
![tim 20180522140739](https://user-images.githubusercontent.com/1925286/40344929-9db073a0-5dc9-11e8-97f0-7ce8420dfb70.png)
![image](https://user-images.githubusercontent.com/1925286/40344933-9f278a48-5dc9-11e8-9373-d11b95ec8af8.png)

Sorry I know where the problem is, I installed the wrong plugin.

[2018-05-22 10:52] iddan commented on #31
No, because you can't refer to a `.env` file relatively: If you'd allow using `%PROJECT_ROOT%` variable it will be possible.

[2018-05-22 10:57] iddan commented on #31
Yeah, it's more of a matter of defaults.

[2018-05-22 23:52] explaura commented on #59
Also experiencing this issue with IntelliJ 2018.1.4 on OSX.

[2018-05-23 00:20] ashald commented on #59
@lbran can you do the screenshots as I did above in https://github.com/Ashald/EnvFile/issues/59#issuecomment-390830066 ?

[2018-05-23 03:31] explaura commented on #59
@Ashald
![screen shot 2018-05-23 at 1 24 49 pm](https://user-images.githubusercontent.com/19300547/40402159-79448d5c-5e8d-11e8-9771-7088ad7a9bb9.png)
![screen shot 2018-05-23 at 1 29 36 pm](https://user-images.githubusercontent.com/19300547/40402163-7c1d7020-5e8d-11e8-9be5-de4520721631.png)

[2018-05-28 02:20] ashald commented on #59
@lbran It looks like you're trying to use it with NodeJS run configuration which is not currently supported (see list of supported run configurations in readme https://github.com/Ashald/EnvFile#supported-platforms) - I'd suggest you upvoting https://github.com/Ashald/EnvFile/issues/54 so I'll take a look into it when I will have a chance to.

[2018-05-30 07:27] aotd1 commented on #31
It can be achieved using the IDE notification dialog.
If .env file exists in project, plugin can propose popup dialog to automatically add it in all / specific run configuration (s).

[2018-06-04 10:44] j0hnsmith commented on #37
Bump, looking forward to using this in Goland!

[2018-06-11 09:15] jamesstidard opened #63 "Python Console Support"
The Python Console in PyCharm can also have environment variables set. Is it possible to also support the Python Console loading variables from .env files on load?

Thanks.

[2018-07-10 08:17] sefasenturk95 commented on #37
Another bump, I would love this..

[2018-07-10 11:12] ppwfx commented on #37
https://github.com/joho/godotenv for the meantime..

[2018-07-13 12:10] jamesstidard commented on #63
I opened this issue with IntelliJ, don't know if it's related: https://youtrack.jetbrains.com/issue/PY-30856

[2018-07-13 18:16] waltermblair commented on #20
@cursive-ide did this feature request get any traction? I'd appreciate it as well!

[2018-08-16 19:05] sushilraje opened #64 "Support for SBT Task"
can we have plugin extended to work with SBT Task ?

[2018-08-20 20:15] alex-kovalchuk commented on #26
Hi,
<img width="1011" alt="2018-08-20 23 12 34" src="https://user-images.githubusercontent.com/14261969/44364083-bdd6f680-a4ce-11e8-9299-d57e34f41a90.png">
Enjoy!

[2018-08-27 23:17] mlsquires commented on #59
I just installed this on GoLand and RubyMine. I've got version 0.7. I'm on MacOs. The EnvFile tab doesn't show up in either of those two IDEs.

[2018-08-30 22:44] mertvetsky commented on #38
I met same problem: running by gradle tasks do not uses file for env import on IDEA community 2018.2

How check it:
1. Create new gradle project with java
2. Edit `build.gradle` like this (just add application plugin and mainClassName):
[code]
3. Create file ./src/main/java/App.java:
[code]
4. Run application/run task from gradle sidebar
5. Then edit created Run/Debug config for import file with p

[2018-09-01 14:57] adelf commented on #26
@alex-kovalchuk .env syntax != .ini syntax
You can install .env files support plugin. It has syntax highlighting starting from 0.7 version.
https://plugins.jetbrains.com/plugin/9525--env-files-support

[2018-09-14 21:51] djohnston08 opened #65 "phpstorm support"

[2018-10-06 23:54] #62 closed, assigned to ashald

[2018-10-06 23:55] #59 closed, assigned to nobody

[2018-10-06 23:56] ashald commented on #47
Closing due to inactivity.

[2018-10-06 23:56] #47 closed, assigned to nobody

[2018-10-07 04:39] ashald commented on #37
This is not released yet but already merged into `develop` (big thanks to @Kelnor277). Release coming within a week, closing the issue to clear list of feature requests.

[2018-10-07 04:39] #37 closed, assigned to ashald

[2018-10-07 04:50] #33 closed, assigned to nobody

[2018-10-07 04:50] ashald commented on #33
Added to `README.md`

[2018-10-07 05:29] ashald commented on #46
Closing due to inactivity.

[2018-10-07 05:29] #46 closed, assigned to nobody

[2018-10-07 06:28] #32 closed, assigned to nobody

[2018-10-07 06:29] ashald commented on #32
Fixed, will be released soon.

[2018-10-08 14:25] #61 closed, assigned to ashald

[2018-10-08 14:25] ashald commented on #61
Fixed, will be included in next release.

[2018-10-08 14:44] ashald commented on #52
Turns out it was the same issue as #32

[2018-10-08 14:44] #52 closed, assigned to nobody

[2018-10-08 14:45] ashald commented on #52
Added a test, will be included into next release.

[2018-10-11 21:49] mlsquires opened #69 "new release to support Goland?"
Just saw that you've added Goland support. Any chance of a release?

[2018-10-11 21:52] ashald commented on #69
New release is coming soon. Meantime, you can use build instructions from readme and install plugin from a file if you need it ASAP.

[2018-10-12 02:57] #16 closed, assigned to ashald

[2018-10-12 02:57] ashald commented on #16
Implemented, will be released soon.

[2018-10-12 03:31] ashald commented on #69
I just uploaded `v3.0.0` to JetBrains plugin registry. It may take up to 2 business day for update to be processed. Meantime you can download plugin archive from the release page [v3.0.0](https://github.com/Ashald/EnvFile/releases/tag/v3.0.0) and install it from disk.

[2018-10-12 15:28] ashald commented on #20
I just checked again and it doesn't seem that anything changed in Cursive IDE in that regards.

@cursive-ide do you think we can figure this out somehow?

As you mentioned, IDEA has this such sort of extension implemented in a bit different way compared to PyCharm, RubyMine and GoLand. If your implementation of RunConfiguration is closer to IDEA - I can try to figure how exactly their implementati

[2018-10-13 17:07] cursive-ghost commented on #20
@Ashald Sure, I'd like to fix this. I'm not in front of the code right now but yes, Cursive only works in IntelliJ IDEA so its run configs work in that way. Any pointers you can provide about how to implement this would be very useful, and steps to test to make sure it's working.

[2018-10-16 08:50] gleber-da commented on #60
@Ashald The `.envrc` file is an shell script which is sourced automatically by multiple local env-management tools, especially http://direnv.net/. This could work the following way:
1) If `.envrc` file is present
2) If `direnv` executable is on `$PATH`
3) Do equivalent of `(cd $PROJECT && direnv export json)` and record the variables encoded in the returned JSON
4) Filter out env variables which s

[2018-10-16 08:54] gleber-da commented on #60
A good inspiration would be `emacs-direnv` package:
https://github.com/wbolster/emacs-direnv

[2018-11-01 13:46] zolotov commented on #69
@Ashald 3.0.0 still excludes GoLand as a supported product. Is this intentional?

![image](https://user-images.githubusercontent.com/140920/47855459-ba78b900-ddf5-11e8-9b7d-a74743d54375.png)

[2018-11-06 03:12] ashald commented on #20
@cursive-ide is your IDE-plugin closed source? I could've submitted a pull-request if I had access to the code. Otherwise I the best thing I can do is to point you to examples in OSS IDEA repo.

[2018-11-06 03:15] ashald commented on #69
Huh, that looks like a bug for me. I test the plugin by installing it manually from disk but not from the registry. I'll look into it - thanks. Meantime, you can download `zip` file from releases tab and install it manually.

[2018-11-06 07:08] cursive-ghost commented on #20
@Ashald Yes, Cursive is closed source. I'm happy to make the changes, I just need to know what's required.

[2018-11-13 10:06] zolotov commented on #69
@Ashald any news? I can ask plugin's repository admins to mark the plugin as compatible with GoLand if you have no time for this right now. Is this ok for you?

[2018-11-18 03:18] ashald commented on #69
<img width="563" alt="image" src="https://user-images.githubusercontent.com/397987/48668244-b5cf2880-eab6-11e8-875e-6de4ffc0373b.png">
Should be fixed now.

[2018-11-18 03:18] #69 closed, assigned to nobody

[2018-11-18 10:59] zolotov commented on #69
This leads to ClassNotFoundExceptions and other problems on the runtime. Extensions your plugin uses were added in 181.4203+ builds.

[2018-11-19 06:14] mguillemot-tel opened #71 "Support for Rust in IntelliJ & CLion"
Since the Rust plugin is now officially supported by JetBrains for IntelliJ and CLion, it would be super-nice to have EnvFile support for the Cargo commands added by this plugin.

[2018-11-20 15:56] nomaed opened #72 "Repeated ExecutionException when file doesn't exist"
If an env-file does not exist, IntelliJ repeatedly throws a scary looking error due to plugin exception:

[code]

![screen shot 2018-11-20 at 17 51 11](https://user-images.githubusercontent.com/9551921/48785199-f912dc80-ecec-11e8-8736-b21f0fe49e18.png)

If error is dismissed, it will reappear once again and then again and again and again.

In my use-case, I have multiple services that I run, each

[2018-11-28 05:40] #72 closed, assigned to nobody

[2018-11-28 05:44] ashald commented on #69
Good to know - thanks.

[2018-11-28 05:55] ashald commented on #72
Unfortunately, this is one of those cases when there is no easy answer.
According to JetBrains API, extensions willing to perform run configuration validation are supposed to throw exceptions in a particular place. They used to catch particular sub-type of those exceptions and extract an error message. They're no longer doing that and just log exception as is so that it looks scary. I don't see an

[2018-11-28 06:33] nomaed commented on #72
Thank you! I believe this control is very helpful.

[2018-11-29 03:37] refack commented on #33
Thanks!

[2018-12-17 12:20] sekrett opened #73 "Elixir support"
Great plugin, but I don't see the tab for an Elixir mix task. Would be great to add that! Thanks.

[2018-12-18 16:37] ashald commented on #73
What's the name of the IDE you're using and what plugin provides that sort of task?

[2018-12-18 16:39] sekrett commented on #73
Rubymine + [Elixir plugin](https://plugins.jetbrains.com/plugin/7522-elixir)

[2019-01-03 18:56] sjentzsch commented on #36
Hi @Ashald Asking again, as our team would also be very happy to make use of EnvFile for node.js applications, how can we help or what would be missing to have access to the plugin?
Would it also be possible (if not easier?) to have it in Goland when installing the node.js plugin?
Thanks a lot! :)

[2019-01-04 19:22] ashald commented on #36
If I recall correctly, last time I checked the node.js plugin it was not compatible with plugin APIs used for integration with other platforms so it was not possible to do that at all. But I will take another look.

[2019-01-08 20:18] blthayer opened #74 "Run EnvFile after External tool"
Firstly, thank you for developing this useful plugin!

I'm using a script to generate an environment file for use with EnvFile, so that I can dynamically change environment variables based on my system (e.g. IP address). In my run configuration, I've set up an "External tool" to run my script before launch and create the file for use by the EnvFile plugin. However, this does not work. It appears E

[2019-01-10 21:24] lhenriquegomescamilo opened #75 "javascript support"
Great plugin, but I don't see the tab for an npm/nodejs mix task. Would be great to add that! Thanks.

[2019-01-14 00:49] ashald commented on #54
I will close this as a duplicate for #36 - please follow progress there.

[2019-01-14 00:49] #54 closed, assigned to nobody

[2019-01-14 00:49] ashald commented on #75
Please follow #36 for updates - closing this one as a duplicate.

[2019-01-14 00:50] #75 closed, assigned to nobody

[2019-01-14 00:54] ashald commented on #36
I will use this ticket to track progress related to Node.js integration.
Regardless of an IDE (WebStorm, IDEA, PyCharm etc) under the cover all of them rely on the same plugin to provide support for Node.js run configurations.

Last time I checked the Node.js plugin was missing support for the standard plugin interface that EnvFile plugins requires (other language plugins support it). I will check

[2019-01-14 00:59] ashald commented on #74
Thank you for kind words!

I clearly understand your use case but from the top of my head I do not have any ideas how EnvFile can support it. The problem is that EnvFile relies on standard plugin interface exposed by JetBrains' "language support plugins" and therefore it does not have control over exactly it should be reading files with environment variables.

The only idea that I have that is rat

[2019-01-14 15:02] sjentzsch commented on #36
Created https://youtrack.jetbrains.com/issue/WEB-36734 to support this issue.

[2019-01-16 20:42] victorvianna opened #76 "Clion support"
Any plans on support for Clion?

[2019-01-17 04:52] ashald commented on #76
I will have to look if it supports required plugin interfaces. What particular run configurations are you interested in?

[2019-01-18 17:27] blthayer commented on #74
@Ashald - Thanks for the suggestion, I'll find time to give that a try soon.

[2019-03-04 01:39] landsman commented on #64
+1

[2019-03-05 21:07] jared-mackey commented on #73
I am using IntelliJ IDEA and the same elixir plugin. Would love for support for these!

[2019-03-11 11:36] rafiron opened #78 "Plugin not working in Intellij 2018.3.5"
The plugin doesn't seem to be working with my Intellij.  Here are the details of my setup:

IntelliJ IDEA 2018.3.5 (Ultimate Edition)
Build #IU-183.5912.21, built on February 26, 2019
JRE: 1.8.0_152-release-1343-b28 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.14.3

Other people also appear to be facing a similar issue : [https://plugins.jetbrains.com/plugin/7861-envfile#commen

[2019-03-11 11:50] rafiron commented on #78
It appears to be working with `JAR application` run configuration but not with `Spring Boot` configuration

[2019-03-11 17:19] ashald commented on #78
Did it work before - with previous versions? Or you haven't tried?

[2019-03-12 04:44] rafiron commented on #78
I used to use it with `Spring Boot` run configuration and it used to run perfectly. Now it doesn't work. The options to add/remove/edit the .env files are not visible and my existing run configurations which used to run just fine no longer run now.

[2019-03-12 04:49] ashald commented on #78
I will take a look whenever I have a chance but it is likely to be related to API incompatibility. If it's just plugin interface change then it should be easy to fix it. If they removed the plugin interface altogether it may no longer be possible to provide the integration.

[2019-03-12 12:22] ilx opened #79 "Please enable variable substitution in variables (enableSubstitutionInVariables)"
To quote StringSubstitutor javadoc:

In some complex scenarios you might even want to perform substitution in the names of variables, for instance

 ${jre-${java.specification.version}}

StringSubstitutor supports this recursive substitution in variable names, but it has to be enabled explicitly by setting the enableSubstitutionInVariables property to true.

[2019-03-21 16:14] ffejer commented on #78
I loads the env files no problem but can't reference them run configuration when passing arguments.
So by not working you mean the same thing?

My setup
IntelliJ IDEA 2018.3.4 (Ultimate Edition)
Build #IU-183.5429.30, built on January 29, 2019
Subscription is active until March 29, 2019
JRE: 1.8.0_152-release-1343-b26 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0

[2019-03-25 02:37] rafiron commented on #78
For me it's not even loading the env files nor providing me the option to add or remove files. But it's only happening for `Spring Boot` run configuration. It works fine with other run configuration. (Tried with the `JAR application` run configuration and it works)

[2019-03-30 12:26] RafaelKr commented on #36
As a workaround I currently use https://github.com/motdotla/dotenv

![image](https://user-images.githubusercontent.com/14234815/55321471-06e62480-547a-11e9-905f-2e1d0d554eeb.png)

To do this, just run
[code]
Then add `-r dotenv/config` to the Node parameters in the `Run/Debug Configurations` window as seen in the picture. (`-r` is short for `--require`)

The other options are just needed for my Ty

[2019-04-02 10:35] rafiron commented on #78
Here is a snapshot of `EnvFile` plugin configuration section under `Spring Boot` Run/Debug Configurations.
The options for edit, add or remove aren't available. For the configurations that were used previously are listed under the list of envs but they don't seem to work.

<img width="733" alt="Screenshot 2019-04-02 at 3 57 11 PM" src="https://user-images.githubusercontent.com/24583737/55395917-45

[2019-04-02 18:41] jpayne97 commented on #78
You might not be able to tell from your theme, but there is an invisible scroll bar on the right side of the window just past the vertical line to the right of "Type" header.

[2019-04-03 02:11] cn-src opened #80 "Support for editing files directly"
Edit files in idea.

[2019-04-03 10:02] antoine-morisseau opened #81 "System wide env variables not used in substitute"
I'm using Intellij Idea IntelliJ IDEA 2019.1 (Community Edition)
Build #IC-191.6183.87, built on March 27, 2019
JRE: 1.8.0_202-release-1483-b39 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.14.4

The envFile plugin is the v3.1.0.

I tried to retrieve some system env variable like ${USER} in the substitute env variable.
So i'm trying to do something like that.
ENV_NAME=local_${US

[2019-04-09 02:47] rafiron commented on #78
Cleared the `.idea` directory and on-reopening the project the plugin seems to be now working. Also thanks @jpayne97 for the scrolling information.

[2019-04-12 20:53] ashald commented on #80
Could you please elaborate?

[2019-04-12 20:57] ashald commented on #81
What about the application when it runs? Does it see the `USER` environment variable?

[2019-04-12 21:00] ashald commented on #78
So... not an issue anymore?

FWIW, the screenshots that I see above do not have a checkmark next to "Enable EenvFile" so it's expected that all controls are disabled.

[2019-04-12 21:41] antoine-morisseau commented on #81
yes, that's the weirdest part.
in intellij in the run configuration the "Include system environment variables" is selected by default.
and when debugging the application i tried to see the `USER` env variable and it worked.
But when using the plugin for substitute it didn't work.

It seems the plugin only substitute variable with defined env variable in other env file selected not system wide env

[2019-04-13 04:36] cn-src commented on #80
Read and list configuration items.
Configuration files can be quickly opened and edited in idea.
Currently, you must be in system file manager to view and edit it.

[2019-04-22 00:11] cursive-ghost commented on #20
@ashald Another user has just asked about this, so I'd like to take another shot at fixing it. I've taken another look at the EnvFile code, let me know if this is what I need to do:
* It looks like the `RunConfigurationExtensionBase` for IntelliJ-based products is provided with EnvFile, `IdeaRunConfigurationExtension`, so I don't have to do anything here.
* It seems I should call the various funct

[2019-04-22 04:04] cursive-ghost commented on #20
Ok, having fiddled around with this some more, I think I now have this working. In addition to the above, I also added:
1. A call to `updateJavaParameters`, which is the critical one for EnvFile to work.
2. A call to `attachExtensionsToProcess` when creating my ProcessHandler. I don't know what this does, but I see a few plugins doing it. @ashald, if you have any insight into whether this is requi

[2019-04-23 11:26] ffejer commented on #78
I am not sure, my use-case is the following:

I am setting a variable in a .env file like so:
`VERSION=1.0`

Creating a java application run conf with envfile enabled, loading the .env file and in the run configurations in the program arguments field I am trying to reference that variable like `${VERSION}`, it doesn't get substituted. I can see it if I query the system properties (`System.getenv()

[2019-04-23 17:22] ashald commented on #78
@ffejer could you post a screenshot of your run configuration? Does it work with environment variables that you specify via native IDEA interface?

I'm afraid variable substitution in command line might be beyond something this plugin could do. Usually it's handled by the shell but I don't think IDEA runs a sub-shell to execute the program and therefore I wouldn't expect it to work unless they exp

[2019-04-23 17:54] ashald commented on #20
@cursive-ide I'm so sorry for dropping the ball on it even though I promised you some help.
What you posted above sounds like a great analysis and I don't think I could've done a better job.
It does sound accurate in everything you just said.

Unfortunately I do not know what's the purpose of `attachExtensionsToProcess`. Although, if you're integrating with run configuration extensions it might be

[2019-04-23 20:50] cursive-ghost commented on #20
@ashald No problem! Having read more code, I think `attachExtensionsToProcess` is used by things like profilers and coverage tools to attach to the process once it's running. I've emulated the calls I've seen in my plugin, but I don't have a good way to test it unfortunately.

This seems to be working on my side and will be in the next Cursive EAP drop, so feel free to close this issue.

[2019-04-23 20:56] ashald commented on #20
@cursive-ide thank you very much!

How do you like an idea of os listing support for Cursive in the EnvFile readme as seen in https://github.com/ashald/EnvFile#supported-platforms? If you like it I'd need the list of run configuration types I should include. If you could share it I'd highly appreciate it or I can request a "Non-Commercial licence" to try to figure it out on my own. Just let me kno

[2019-04-23 20:57] #20 closed, assigned to ashald

[2019-04-23 22:13] ashald commented on #80
@cn-src do you think you can somehow demonstrate what you mean?

Here is an example how I add `my.env` to a run configuration:
<img width="1183" alt="image" src="https://user-images.githubusercontent.com/397987/56619406-7079ce80-65f3-11e9-9959-32bc0487fa23.png">

And then edit it in the same IDE:
<img width="1468" alt="image" src="https://user-images.githubusercontent.com/397987/56619375-57711d80-

[2019-04-23 23:40] cursive-ghost commented on #20
@ashald Sure, that would be great, thanks! I've added support for this to the following run config types:

1. Local Clojure REPL
2. Clojure Application
3. Leiningen

I haven't actually released this yet, so could you add a note that these are available as of Cursive 1.8.2?

[2019-04-24 02:12] cn-src commented on #80
@ashald
Because the configuration file is not in the project's directory.
If can edit the file content like this:

<img width="887" alt="Jietu20190424-100259@2x" src="https://user-images.githubusercontent.com/8263180/56627668-68647200-6679-11e9-9067-90dd21ebc155.png">

<img width="879" alt="Jietu20190424-100349@2x" src="https://user-images.githubusercontent.com/8263180/56627676-6e5a5300-6679-11e9-

[2019-04-24 08:05] ffejer commented on #78
Sure thing.

![image](https://user-images.githubusercontent.com/1386880/56642553-f93a4e00-6677-11e9-8aae-29c0c726ccfd.png)

![image](https://user-images.githubusercontent.com/1386880/56642592-13742c00-6678-11e9-9da8-1ba071f7bfdb.png)

contents of my.env:
`MY_ENV_VAR=foobar`

When running this config `${MY_ENV_VAR}` is not substituted and `${alias}` native one set in intellij is.

[2019-04-24 12:57] rafiron commented on #78
Although I pasted the screenshots of it being disabled, I tested them with enable before posting the issue. The issue got resolved once I removed the `.idea` directory and like @jpayne97 pointed out, due to the theme the scroll bar wasn't visible but was present there.

[2019-04-25 01:51] ashald commented on #20
@cursive-ide done! And thank you one more time for taking care of this!

[2019-04-25 02:03] ashald commented on #78
@ffejer forgive me if I'm missing something but the 1st of the screenshots you posted doesn't show any values in `Environment Variables`. Did you just omit setting it while doing this screenshots or you set it some other way?

[2019-04-25 02:06] ashald commented on #78
@rafiron as much as I can say, it seem that plugin does work with `2018.3.5`. It appears that there might've been some issues during upgrade of the IDE to that version that potentially resulted into corruption of project files. This is not nice but probably something we can live with. I'd be inclined to close this issue and @ffejer's case probably deserves its own issue.

[2019-04-25 02:06] #78 closed, assigned to nobody

[2019-04-25 02:08] ashald commented on #80
@cn-src thanks - I think I understand your use case now. This indeed make sense and would've been a nice addition to the plugin. I'm not a huge expert on JetBrains platform APIs so it might take a while to figure out how to implement it so contributions are welcome!

[2019-04-25 03:19] #81 closed, assigned to nobody

[2019-04-25 03:27] ashald commented on #81
Took me a while to figure it out as it was working in PyCharm but then I realized IDEA is a little bit different from all other JetBrains IDEs. ¯\_(ツ)_/¯

Fixed in `v3.1.1`, I'm submitting an update to JetBrains and meantime you can install latest version from an archive directly https://github.com/ashald/EnvFile/releases/tag/v3.1.1

[2019-04-25 09:19] ffejer commented on #78
@ashald I haven't set any environment variables in the runconf but globally inside IntelliJ. Those work. I still don't get if what I am tryna do is what the plugin is meant for. ;-)

[2019-04-28 18:30] trondhindenes opened #82 "Rider support"
it would be really good to enable this plugin in the Jetbrains Rider IDE aswell.

[2019-05-16 00:57] fullstackdev-star opened #83 "Not Working in intellij 2019.1.1 for golang projects"
![Screenshot_1](https://user-images.githubusercontent.com/13324891/57818914-a7896d00-77b8-11e9-84a5-ebfdcbded5a4.png)
![Screenshot_2](https://user-images.githubusercontent.com/13324891/57818916-a8220380-77b8-11e9-9cfc-55c76f35417a.png)

I set all like as guide, but not working for golang

[2019-05-20 03:28] ashald commented on #83
Thanks for reporting the issue! How exactly it doesn't work? It crashes with an error or you don't see env vars set?
Unfortunately I don't have access to a Windows computer so won't be able to debug directly.

[2019-05-21 03:06] fullstackdev-star commented on #83
Thanks for your reply.
If you want, I can provide my pc via teamviewer or anydesk for you to debug.
I can not get the env variables from .env file in code.

[2019-05-21 13:17] Jinqianv commented on #83
Hello.
Thanks for your reply.
I can provide my pc for you to debug, just let me know the time you want.
I am always online.

[2019-05-21 13:20] ashald commented on #83
I hope we will be able to figure it out easier.
Could you please share an example of your `.env` file?

Also, do I understand correctly that you use `Intellij 2019.1.1` with Go plugin rather than `GoLand`?

[2019-05-21 13:42] ashald commented on #83
I was able to get access to a Windows VM and tried the plugin in `GoLand 2019.1.2` - it worked as expected:
![image](https://user-images.githubusercontent.com/397987/58100944-aa1b0680-7bac-11e9-93e8-b948a489da15.png)

[2019-05-21 13:56] ashald commented on #83
It actually worked same way for me in `Intellij 2019.1.2`
![image](https://user-images.githubusercontent.com/397987/58101931-72ad5980-7bae-11e9-8511-9766f092471b.png)

Based on that I'd assume that plugin works correctly. Please let me know if you need any help figuring out how your configuration should be adjusted to make it work.

[2019-05-21 15:50] fullstackdev-star commented on #83
Hello, what command line did you use to check the env veriables is useful?

[2019-05-21 15:54] ashald commented on #83
It is in the screenshot above - I used a simple program that just prints all environment variables:
[code]

[2019-05-21 16:07] fullstackdev-star commented on #83
hmm, it is wired.
I can see it is not working
![Screenshot_6](https://user-images.githubusercontent.com/13324891/58112239-ae373a80-7c25-11e9-9cdf-93d4fa27bc2a.png)

[2019-05-21 16:14] fullstackdev-star commented on #83
I am using intellij with go module

[2019-05-21 16:24] ashald commented on #83
Can you try this program?
[code]

Also, maybe you can make a screenshot similar to one that I posted - that would combine EnvFile configuration and the output on the same screen?
Also, can you try updating to `2019.1.2`?

[2019-05-21 16:29] fullstackdev-star commented on #83
ok, thanks, let me update

[2019-05-21 16:38] fullstackdev-star commented on #83
Please check this.
![Screenshot_7](https://user-images.githubusercontent.com/13324891/58114061-8a75f380-7c29-11e9-9710-b754e36dc21e.png)
![Screenshot_8](https://user-images.githubusercontent.com/13324891/58114237-e8a2d680-7c29-11e9-8ee5-ee5076f58dcb.png)

[2019-05-21 17:41] ashald commented on #83
If I understand correctly you ran the app typing `go run main.go` in the terminal - if that's the case then it's not something this plugin supports. You have to run it using "Run Configuration" dialog as on the video below:
![out](https://user-images.githubusercontent.com/397987/58118056-0fcbba80-7bce-11e9-88e5-b15bfc2a1111.gif)

[2019-05-22 01:44] fullstackdev-star commented on #83
Hello, Please check when you would be online.
![image](https://user-images.githubusercontent.com/13324891/58141474-17469e80-7c76-11e9-8d9e-6b19d076203d.png)
java.lang.AssertionError: Already disposed: Project (Disposed) BiSu
	at com.intellij.openapi.components.impl.ComponentManagerImpl.lambda$throwAlreadyDisposed$1(ComponentManagerImpl.java:245)
	at com.intellij.openapi.application.ReadAction.lamb

[2019-05-22 03:42] ashald commented on #83
I've seen this error reported once in the past but wasn't able to reproduce it so far.
It seems that the issue is in a corrupted section of project config. I heard people were able to recover from it by recreating their project but maybe it will be enough to re-create the run configuration. Sorry for the inconvenience.

I also pushed an update `v3.1.2` that should try to workaround the issue but i

[2019-05-22 07:17] fullstackdev-star commented on #83
ok, thanks

[2019-05-23 12:03] yelhouti commented on #38
Same issue here, any ETA on this please?

[2019-05-24 04:11] ashald commented on #38
@yelhouti contributions are welcome!

[2019-05-24 15:43] ashald commented on #83
Can you confirm if it works for you?

[2019-05-24 15:43] ashald commented on #83
Can you confirm if it works for you?

[2019-05-24 16:16] #38 closed, assigned to nobody

[2019-05-24 16:51] ashald commented on #38
Actually, I was able to figure out a hack to make it work. See https://github.com/ashald/EnvFile#experimental-integrations for details.

I just released `v3.2.0` and it may take up to 2 days for JetBrains to process the release, in meantime you can download release directly and install it manually from https://github.com/ashald/EnvFile/releases/tag/v3.2.0

Kudos to @mertvetsky for reproduction ste

[2019-05-24 17:13] yelhouti commented on #38
great thank you very much :)

[2019-05-27 18:55] mlsquires commented on #36
I've been using the plugin in GoLand and RubyMine for quite awhile. I just started a Node project (using WebStorm) and I miss it.

BTW RafaelKr your workaround is working for me at the moment - thanks!

[2019-05-28 07:52] DemianTinkiel commented on #41
@ashald  sorry for the delay, i didn't see your comment.  I use https://www.jetbrains.com/help/idea/docker.html

[2019-05-28 15:49] ashald commented on #36
@mlsquires there is nothing that can be done about it until https://youtrack.jetbrains.com/issue/WEB-36734 is addressed - please upvote the linked issue to help it happen sooner.

[2019-06-07 11:02] dhruv-bansal opened #84 "Environment variable does get resolves in 'VM Options' in 'Configuration'"
Defined variable in file
`DATASOURCE_CONF=-Dspring.datasource.url=jdbc:mysql://localhost:3306/TEST_DATABASE -Dspring.datasource.username=test -Dspring.datasource.password=test -Dhibernate.dialect=org.hibernate.dialect.MySQLDialect`

added file in configuration
![image](https://user-images.githubusercontent.com/11644608/59099773-c3a8a600-8941-11e9-8d9f-4454d3be8aba.png)

This variable is not gettin

[2019-06-07 15:48] ashald commented on #83
Given no reply I assume everything works fine. Please feel free to re-open if that's not the case.

[2019-06-07 15:48] #83 closed, assigned to nobody

[2019-06-07 15:51] ashald commented on #79
I'm not sure I understand the use-case - can you please elaborate how this would bee useful or what you'd use it for? Thanks!

[2019-06-07 15:56] ashald commented on #84
Does it work if you set environment variables via native IDE UI in the `Configuration` tab?

I'm afraid it might be a limitation that we cannot do anything about in the same way as it was in https://github.com/ashald/EnvFile/issues/78#issuecomment-486115324.

If I had to offer an alternative, I'd suggest trying setting those values via `JAVA_OPTS` environment variable.

[2019-06-07 18:37] dhruv-bansal commented on #84
Yes, it worked very well after declaring into "Environment variables" in the "Configuration tab".
I just have to change ${DATASOURCE_CONF} to $DATASOURCE_CONF$
In my point of view, EnvFile should act as a Decorator over the "Environment Variables" functionality.  Everything offered by "Environment variables" plus the additional feature of easily managing variable via file etc.
@ashald What do you

[2019-06-07 18:41] ashald commented on #84
I think that's a great idea but unfortunately that is not something that is possible to implement with current APIs exposed by JetBrains IDEs. 😞

[2019-06-10 11:43] fullstackdev-star commented on #83
Hello, thanks for your asking. That's working, but sometimes not working

[2019-06-11 13:18] antoine-morisseau opened #85 "Copy Paste selection of files"
Using the plugin is great to ensure manageable environment variables between several configurations.

In intellij we can generate on the fly some test configurations but some have to use environment variables.
It will be useful if we can copy/paste selection of env files.

Here is an example of copy paste tools in the environment variables configuration window
![Screenshot 2019-06-11 at 15 13 59](

[2019-06-20 02:30] ashald commented on #41
I'll take a look when I have a chance.

[2019-06-20 02:31] ashald commented on #85
I definitely can imagine that as something doable. I'd welcome a contribution like that!
May be a while until I will have free time to look into implementing it on my own.

[2019-06-27 03:47] gshmu opened #87 "Pycharm can't set bool env"
I want set boolean var, but is still string.

in python, os.environ.get('VAR') get "true", "1", "True"...

I'm tried json and yaml etc

[2019-06-27 13:39] alessio-izzo opened #88 "Cannot run pytest"
Hi, I recently had an issue running any test with pytest where the env variables where set by an .env file. This is the error message given by pycharm:
[code]
These are my settings:
PyCharm 2019.1.3 (Community Edition)
Build #PC-191.7479.30, built on May 29, 2019
JRE: 11.0.2+9-b159.60 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.14.5
The EnvFile version is 3.2.0
If I uncheck th

[2019-06-27 13:45] ashald commented on #88
I don't think it's related to the plugin - maybe some of the env vars you set break it?

[2019-06-27 13:46] ashald commented on #87
Environment variables are string by definition - you have to cast value explicitly.

[2019-06-27 13:46] #87 closed, assigned to nobody

[2019-06-27 15:17] alessio-izzo commented on #88
Yes. I found out that the problem occurs when setting the PYTHONPATH variable. If I set PYTHONPATH into the file, the error is raised.

[2019-06-27 15:33] ashald commented on #88
Glad you was able to figure it out! 😊

[2019-06-27 15:33] #88 closed, assigned to nobody

[2019-06-28 07:00] alessio-izzo commented on #88
But there is a right way to set PYTHONPATH into the .env file? I mean, have you ever tried setting the pythonpath variable? If I set it in the usual way, I don't have problems.

[2019-06-29 15:43] ashald commented on #88
You'd want to add a value to it rather than overwrite it altogether (as PyCharm manipulates it inject its helpers). For instance, if there is a dir `src` within your project that you want to add you can do it like this:
[code]
Also, don't forget to enable env var substitution as seen below:
<img width="1183" alt="image" src="https://user-images.githubusercontent.com/397987/60386473-2550c180-9a63-1

[2019-07-25 21:22] lavoiesl opened #89 "Add support for shadowenv"
[Shadowenv](https://shopify.github.io/shadowenv/) does project-local environment variable shadowing.

It can set variables when you enter a project on the terminal, and restore them when you leave. It is flexible and supports appending, prepending, and set-if-not-set operations.

There are already plugins for [vim](https://github.com/shopify/shadowenv.vim) and [emacs]
(https://github.com/shopify/s

[2019-07-27 16:33] ashald commented on #89
Hi there!
I really like the idea behind `Shadowenv` and delighted you're considering integration via JetBrains IDEs via` EnvFile`!

IDK if you explored EnvFile architecture, but just in case here is my take on how this could be done.

`EnvFile` on its own [exposes an extension point](https://github.com/ashald/EnvFile/blob/develop/src/main/resources/META-INF/plugin.xml#L59-L63) which at the end is

[2019-07-31 07:52] jirkadanek commented on #45
Extending PYTHONPATH works for me in run configurations; intellij (with Python plugin) does not pick it up in editor for code completion, but I did not expect it to. One problem was that my .env file got somehow detected wrong, or something. I did not investigate why. I had to copy `.env` into `my.env` and add it again to run configuration, then it all worked

![image](https://user-images.githubus

[2019-08-20 17:10] zomgbre opened #91 "Support for Maven"
Support for Intellij Maven run configuration would be lovely! :)

[2019-08-30 17:34] DanielWeigl commented on #74
I have a similar requirement, but solved it a bit differently

https://github.com/ashald/EnvFile/pull/92

[2019-08-30 23:46] jimklo opened #93 "Cannot select .env files on macOS"
Seems like this could be a great plugin, however since it doesn't automatically pickup the `.env` files in the project root, it seems I have to manually select.

On macOS (within PyCharm - but maybe other IDEA based projects as well), I'm unable to navigate to select the `.env` file as since it's a 'dot file', it is hidden from the file selector.

The plugin needs to allow one of three options:
1.

[2019-09-02 09:44] tonioriol opened #94 "Support for WebStorm?"
Would it be possible to enable support for WebStorm?

[2019-09-02 23:23] ashald commented on #94
What kind of run configurations are you using in WebStorm?

[2019-09-02 23:31] ashald commented on #93
Thanks for the feedback!

Apparently you're facing an issue with hidden files in `macOS` - this use case is actually covered in the [readme](https://github.com/ashald/EnvFile#hidden-files).

With regards to other suggestions:
1) I prefer explicit behaviors over implicit and do not believe plugin can make an assumption about the default file to load for _all_ its users. You may be able achieve desi

[2019-09-02 23:31] #93 closed, assigned to nobody

[2019-09-03 15:27] tonioriol commented on #94
i have a node project with jest for testing and the test environment variables are loaded from an env file.

[2019-09-03 15:38] tonioriol commented on #94
That is done in a js file that is called to run all tests from the console. That file loads the env variables from a file and then runs jest programmatically. What i'd like is to run jest straight out from the run config, and load the env from the file.

[2019-09-03 16:06] ashald commented on #94
`NodeJS` support in `WebStorm` if handled by the special JetBrains plugin - it's just bundled by default with `WebStorm` but you also can install it in other their IDEs. What this means, is that for this to work we need to integrate with `NodeJS` plugin and it actually lacks extension points required by `EnvFile`.
Please follow #36 for updates.
Other community members raised this with JetBrains an

[2019-09-03 16:06] #94 closed, assigned to nobody

[2019-09-06 19:58] jimklo opened #95 "EnvFile with PyCharm and pytest error: sys.path seems broken."
So I create test file, `test_stuff.py` and define the following test:

[code]

I create a `.env` file with the following:

[code]

Then I right click on the test file and select: "Run 'pytest in test_stuff...".  Test runs, and fails as MY_ENV_VAR isn't defined.

I go an edit the test configuration, select the EnvFile tab, enable EnvFile plugin and add the `.env` file I created to the configuration

[2019-09-09 23:01] jimklo commented on #95
I believe I found the problem that is effecting me.

This could be construed as a "bug" or not... I'm not entirely sure what the right solution is here, as the current implementation is not portable across IDEs.

It turns out... I also had `PYTHONPATH` defined in my `.env` file.

According to the official [Python documentation for PYTHONPATH](https://docs.python.org/3/using/cmdline.html#envvar-PYT

[2019-09-09 23:25] ashald commented on #45
I was wondering why this issues sounds familiar to me but couldn't figure it out until you brought up `PYTHONPATH`.
`PyCharm` handles it in a special way and my personal rule of thumb is to avoid touching it as much as I can.

To the best of my knowledge it won't work with many (or any?) other envfile implementations, but you can leverage the `EnFIle` variable substitution as discussed in https://

[2019-09-09 23:25] #45 closed, assigned to nobody

[2019-09-28 19:23] evanjs commented on #71
Was going to answer @ashald's [question](https://github.com/ashald/EnvFile/issues/76#issuecomment-455041836) re CLion support, but I figured it'd be more appropriate to answer it here
___
I am very interested in utilizing this for my Rust projects with CLion.

I use NixOS, and in the past, I have used `nix-shell` to import required development libraries, though I now use [direnv](https://github.co

[2019-10-09 15:03] kmejka opened #96 "Not working with Flask configuration"
Hi,
The plugin is awesome, but I'm having issues with a Flask project in PyCharm. Perhaps I'm doing something wrong. Any help appreciated.
The issue is not that easy to explain in writing, so please bear with me, I'm trying my best :).

When I have a Run configuration of type 'Flask server' with environment variables, everything works fine. The application starts up like this (replaced every sensi

[2019-10-20 16:44] ashald commented on #96
Hi! Just from a glance at your logs, it seems that in the 1st example you have the Flask app running with debug off and in the 2nd one with debug on. Running the app with debug mode enables the reloader (as seen in https://stackoverflow.com/a/53790400) and that's why we can see:
[code]
in 2nd example, as well as other logs that create an impression that app is started twice.

From my perspective,

[2019-10-20 16:44] #96 closed, assigned to nobody

[2019-10-24 20:29] mcdan commented on #38
I think this may be broken in:
[code]
I followed the steps from @mertvetsky and still get the following even after enabling the `Experimental Integrations`:
[code]

[2019-11-07 07:09] gshmu opened #97 "ENV not work PyCharm"
`VERSION 1.0` not work.

but `VERSION=1.0` worked.

[2019-11-08 01:06] ashald commented on #97
Could you provide more details please?

[2019-11-08 03:05] gshmu commented on #97
PyCharm 2019.2.3 (Professional Edition)
Build #PY-192.6817.19, built on September 25, 2019

Runtime version: 11.0.4+10-b304.69 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.15.1
GC: ParNew, ConcurrentMarkSweep
Memory: 1979M
Cores: 16

create env file, and enable it, using `VERSION 1.0` not work.  worked after add `=`.

[2019-11-10 16:55] ashald commented on #97
The `.env` file format requires `=` between name and value - please see examples in docs https://github.com/ashald/EnvFile#env

[2019-11-10 16:55] #97 closed, assigned to nobody

[2019-11-14 06:06] gshmu commented on #97
![image](https://user-images.githubusercontent.com/1797676/68830840-ca54f980-06e7-11ea-90f6-ef211065f232.png)
the doc contain both '=' and 'space'

[2019-11-22 18:16] pswaminathan commented on #81
This same issue appears to be happening in GoLand—I'm encountering with the `${USER}` variable as well. Plugin version v3.2.0.

GoLand 2019.2.5
Build #GO-192.7142.48, built on November 7, 2019
Runtime version: 11.0.4+10-b304.77 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.15.1

[2019-12-05 21:19] evanjs commented on #71
I am now using [lorri](https://github.com/target/lorri), but things works largely the same as direnv on the client side, e.g. with the [direnv plugin](https://github.com/wbolster/emacs-direnv) for emacs, lorri seems to work flawlessly.

I still have to open a terminal and navigate to a direnv/lorri enabled directory and launch my IDE from there if I want to utilize these environments in CLion, how

[2019-12-07 20:03] ktalebian opened #99 "Configuration Variables are not substituting .env file"
Here is a screenshot of the config:

![image](https://user-images.githubusercontent.com/2308915/70379984-56be9a80-18e9-11ea-99e1-dbedc481ec83.png)

And here is the environment variable from the Configuration tab:

![image](https://user-images.githubusercontent.com/2308915/70379997-6fc74b80-18e9-11ea-834d-b7d27a35c1c5.png)

My `local.env` file has `SECRETS_DIR=/originalSecretDir` When I run my appl

[2020-01-24 16:57] shabtaisharon opened #100 "Plugin not working in IntelliJ IDEA 2020.1 EAP"
Here is the stackstrace:

[code]

[2020-01-28 01:36] dharmeshds opened #101 "Please add support for NodeJS Express projects in Intellij IDEA"
Kindly add support for NodeJS Express projects in Intellij IDEA..

[2020-02-07 18:33] jeremyk opened #102 "Request to add support for .envrc format"
We are using https://direnv.net/ to share a base config and it works really well for that. Would be even better if we could reference the same file in our run configs.

Format is pretty simple:

export DB_NAME=abc
export DB_HOSTNAME=www.hosts.com
export DB_PORT=3333

Thanks!

[2020-02-12 07:40] mwaaas opened #103 "env not working on spring running test in the new version of intellij 2019.3"

[2020-02-16 18:42] vladAnk opened #104 "Multiline variables support"
Useful plugin. Can you please implement some syntax to load multiline variables from .env file?

[2020-02-26 16:16] pkral78 commented on #71
But it is then impossible to open multiple CLion project with different environments at same time right ?

[2020-02-27 00:16] evanjs commented on #71
Correct; I’m then locked to one ENV per instance of the program, and it might even launch with the wrong project loaded, etc.

[2020-03-01 03:33] johnnymetz opened #105 "Globally Enable EnvFile for all run configurations"
Thanks for awesome plugin!

I currently have a project with hundreds of tests. For each test, I need to "Enable EnvFile", which can be very time-consuming.

It would be great to globally enable a specific EnvFile for an entire project, so I just need to choose the file once and it's picked up by every run/debug configuration from then on out. Is this possible?

[2020-03-01 23:56] johnnymetz commented on #105
Figured out how to do this by going to Edit Configurations > Edit Templates and enabling EnvFile there.

[2020-03-01 23:56] #105 closed, assigned to nobody

[2020-03-27 07:46] goerge commented on #100
@ashald Thanks a lot for this great plugin. Are you still maintaining it? Are you planning to release a fix for IDEA 2020.1 ? Can we help to get this running?

[2020-03-27 10:54] mirelon opened #106 "Add support for Play 2 App"
Play 2 App is a run configuration provided by the Scala plugin

[2020-03-30 22:59] ashald commented on #104
I wonder if other software that supports `.env` files allows for multi-line variables?

I'd implement it, at least as an optional feature, whenever I will have time or would welcome contributions for this.

[2020-03-30 23:01] ashald commented on #100
@goerge I don't have much time to spare for maintaining this plugin right now but I'd welcome contributions, especially for bugfixes. I see there is a PR open - will check it out.

[2020-03-30 23:41] ashald commented on #99
I wasn't able to reproduce this. Have you figured out what was wrong?

[2020-03-30 23:41] ashald commented on #103
What's the issue?

[2020-03-30 23:45] ashald commented on #101
I will look into this someday. Until then - contributions are welcome.

[2020-03-30 23:46] ashald commented on #82
I will look into this someday. Until then - contributions are welcome.

[2020-03-30 23:47] ashald commented on #91
I will look into this someday. Until then - contributions are welcome.

[2020-03-30 23:47] ashald commented on #106
I will look into this someday. Until then - contributions are welcome.

[2020-03-30 23:49] ashald commented on #95
Were you able to find a suitable workaround?

[2020-03-31 04:32] ashald commented on #100
You can get latest version with the fix from the [release page](https://github.com/ashald/EnvFile/releases/tag/v3.2.1). I lost access to my JetBrains account so it will take some time while I restore it and submit a new version to marketplace.

[2020-03-31 04:32] #100 closed, assigned to nobody

[2020-03-31 16:21] shabtaisharon commented on #100
Thank you @ashald

[2020-04-07 22:09] ghost opened #108 "EnvFile does not work with normal Application run configs when "Build and run using" ist set to "Gradle""
EnvFile works with
* Application run configurations when not delegating to Gradle
* Gradle run configurations (with experimental set to true)

However, when normal Application run configs are used in conjunction with delegated Gradle actions, the EnvFile plugin will not work. After investigating the issue, I believe this is because the userData set on the ApplicationConfiguration object is not pro

[2020-04-08 07:31] markuskruse commented on #108
What version of intellij? I missed then EnvFile in my run config this morning but saw that Intellij had upgraded to 2020.1. After downgrading to 2019.3, it worked again.

[2020-04-08 14:20] AndersonMahechaGuerrero opened #109 "EnvFile not work on Intellij IDEA 2020-1"
`com.intellij.diagnostic.PluginException: While loading class net.ashald.envfile.products.idea.IdeaRunConfigurationExtension: com/intellij/execution/RunConfigurationExtension [Plugin: net.ashald.envfile]
    at com.intellij.ide.plugins.cl.PluginClassLoader.loadClassInsideSelf(PluginClassLoader.java:262)
    at com.intellij.ide.plugins.cl.PluginClassLoader.tryLoadingClass(PluginClassLoader.java:205

[2020-04-08 16:13] ghost commented on #108
I encountered this issue using both 2019.3 and 2020.1.
@markuskruse the issue you're seeing is #100 and should be fixed in 3.2.1. I elaborated the description to be a bit more informational

[2020-04-08 20:42] ghost commented on #109
Looks like a duplicate of #100 , did you try version 3.2.1?
https://github.com/ashald/EnvFile/issues/100#issuecomment-606393160

[2020-04-09 08:55] MazurOlha commented on #109
I've tried just now. Can't see EnvFile tab in Run/Debug Configuration window

[2020-04-09 10:23] ghost commented on #109
@MazurOlha the following workflow worked for me on IntelliJ Ultimate 2020.1 RC 201.6668:
* Head over to https://github.com/ashald/EnvFile/releases/tag/v3.2.1
* Download the EnvFile-3.2.1.zip
* In IDEA, uninstall old EnvFile plugin
* Restart IDEA
* In the Plugins settings, there's a cog wheel next to `Marketplace` and `Installed`. Click the cog wheel, `Install Plugin from Disk`, and choose the EnvF

[2020-04-09 12:16] Egendron commented on #109
It works well for me, thansk for the tips

[2020-04-09 12:32] MazurOlha commented on #109
Doesn't work :(
Build is #IU-193/6911/18, built on March 17,2020

[2020-04-09 12:43] MazurOlha commented on #109
It works fine. THANK YOU A LOT!!!

[2020-04-10 03:07] ashald commented on #109
I'm the author of the plugin but I lost access to managing it due to changes in JetBrain's accounting system. Until they reply to my inquiry (or if you're from JetBrains and reading this - please reach out to me via email associated with the plugin), I cannot upload a version with the fix.
In the meantime - the steps described in https://github.com/ashald/EnvFile/issues/109#issuecomment-611452698

[2020-04-10 03:07] #109 closed, assigned to nobody

[2020-04-10 03:23] ashald commented on #108
@pilzm thanks for the PR! I merged it and will do a bit more testing before releasing a new version to see how stable it is. I will keep this issue open until then. I assume you can unblock yourself by building a version of the plugin manually and using it in your environment.

[2020-04-12 08:03] akerigan opened #111 "plugin doesn't works in idea 2020.1"
Plugin constantly falls with exception (idea 2020.1, project uses jdk8):
com.intellij.diagnostic.PluginException: While loading class net.ashald.envfile.products.idea.IdeaRunConfigurationExtension: com/intellij/execution/RunConfigurationExtension [Plugin: net.ashald.envfile]
	at com.intellij.ide.plugins.cl.PluginClassLoader.loadClassInsideSelf(PluginClassLoader.java:262)
	at com.intellij.ide.plugi

[2020-04-12 14:02] ghost commented on #111
Have a look at @ashald's comment [on issue 109](https://github.com/ashald/EnvFile/issues/109#issuecomment-611855441)

[2020-04-12 15:09] ashald commented on #111
Thanks @pilzm !

[2020-04-12 15:09] #111 closed, assigned to nobody

[2020-04-14 05:44] ehmkah opened #112 "Plugin does not support IntelliJ 2020.1"
Envfile plugin seems not to work wih IntelliJ 2020.1.
Maybe the exception helps: ![image](https://user-images.githubusercontent.com/6233328/79190185-ed651000-7e23-11ea-80ce-86e533ed131b.png)
And this is the complete stacktrace:
com.intellij.diagnostic.PluginException: While loading class net.ashald.envfile.products.idea.IdeaRunConfigurationExtension: com/intellij/execution/RunConfigurationExtensio

[2020-04-14 06:56] ehmkah commented on #112
I opened a PR, would be nice to merge it soon and upload a new version to jetbrains. I read that you have some problems with your account, but I love and need this plugin.

[2020-04-15 03:58] ashald commented on #112
The issue has been fixed in v3.2.1 - for now you'd have to update manually using [these](https://github.com/ashald/EnvFile/issues/109#issuecomment-611452698) instructions until JetBrains fixes my account.

[2020-04-15 03:58] #112 closed, assigned to nobody

[2020-04-15 04:47] ehmkah commented on #112
Oh sorry, I saw the issue too late. Thanks for already fixing it and your solution works. :-)

[2020-04-15 07:36] straurob opened #114 "Incompatibility issue with IntelliJ Ultimate 2020.1"
There seems to be a problem with the latest version of IntelliJ.

**Platform:** Ubuntu 18.04 LTS
**Version:** IntelliJ Ultimate 2020.1

[code]

[2020-04-15 08:57] straurob commented on #114
A manual update to the latest version [3.2.1 ](https://github.com/ashald/EnvFile/releases/tag/v3.2.1)solves this issue for me.

[2020-04-15 08:57] #114 closed, assigned to nobody

[2020-04-22 07:13] dorli commented on #95
Changing the order of the .env files in the "EnvFile" configuration panel fix it for me.
Just make your ".env" file first and "<Run Configuration Env Vars>" second.

[2020-04-23 19:39] adaviding commented on #76
You have a nice plugin here.  We are discussing how it might be adapted to solve the problem described [here](https://youtrack.jetbrains.com/issue/IDEA-205637).

[2020-05-10 13:21] amin3mej commented on #108
@ashald Did you release this MR?

[2020-06-02 06:38] paulmdavies commented on #99
@ashald I'm experiencing this problem too, with IDEA 2020.1 and version 3.2.1 of your plugin.

For me, it was easy to reproduce on a toy project:
- Create a python file which prints an environment variable, e.g.
[code]
- Run that to generate a run configuration - it will print 'None'
- In the run configuration, add an environment variable of `FOOVAR=foo` - running it now prints 'foo'
- In the run

[2020-06-04 04:07] deka108 opened #115 "Unable to Substitute Environment Variables in GoLand"
Hi, I encountered a problem when trying to substitute environment variables using EnvFile 3.2.1 on GoLand 2020.1.2

### The `.env` file content

[code]

### The EnvFile setup
![image](https://user-images.githubusercontent.com/7682712/83713586-4f98f080-a5dd-11ea-8254-e7472b4f6cba.png)

### Problem
When I run the code and prints the environment variable values using the above configuration, the `$HO

[2020-06-04 13:55] lightoze commented on #108
@ashald I'm getting into this issue with 2020.1 and EnvFile 3.2.1

[2020-06-08 22:20] deka108 commented on #115
I got a notification to update .env plugin and this is now working perfectly

[2020-06-08 22:20] #115 closed, assigned to nobody

[2020-06-11 09:06] TorMcK commented on #63
Bumping this. I'm running a SSH interpreter, and is using envFile successfully to avoid moving my ,env file to the remote server. However, this isnt possible if I want to use pycharm console.,

[2020-06-30 10:02] fdcds opened #116 "Support for "Shell Script" configurations"
It would be great if EnvFile would support "Shell Script" type configurations in PyCharm, which currently do not offer any way to set environment variables in a convenient way.

See-also: https://youtrack.jetbrains.com/issue/PY-43210

[2020-06-30 23:19] scharf commented on #102
It seems that this is pretty much the same as an `.env` file but ignoring/removing `export` strings at the beginning of a line?

That way, a shell script could source the `.env` file and sets the exports and this plugin can use it directly.

[2020-07-29 09:49] huehnerlady opened #118 "Support kotest configurations"
With [this Plugin](https://plugins.jetbrains.com/plugin/14080-kotest) you get a new configuration called kotest. Unfortunately there is no support for the EnvFile, which would be very handy to have.

[2020-07-30 22:34] charlesritchea opened #119 "In IntelliJ 2020.2 Experimental features checkbox is greyed out"
I was using EnvFile experimental features when running tests with Gradle Test Runner, and just like the description says, it broke at anytime :) I know I need to just load the .env file in gradle and problem solved, but wanted to let you know.

[2020-08-04 03:15] liudongcxw commented on #108
I am using IDEA 200.2 and envFile 3.2.1, but the problem is not solved.

[2020-08-04 03:37] liudongcxw commented on #119
How Do I Load .env in gradle?

[2020-08-04 08:40] jeyraof commented on #102
`.envrc` for [direnv](https://direnv.net/) is bash script compatible.
So `$ source .envrc` is corect way to apply it.
I also think adding `.envrc` type support is very valuable!

[2020-08-06 16:58] charlesritchea commented on #119
@liudongcxw in a task:
[code]

[2020-08-10 05:53] ZihaoPri opened #120 "Support enable .env in project"
I have multiple pytests in my project. Every time I run a new test, I need to set up the Envfile inside Run/Debug configuration.
It would be nice if there were a way to make it used the same .env file for every test in the project.

[2020-08-10 08:30] Alex-Wauters commented on #101
Sure, do you have any quick pointers on how to best add the configuration and build/test the plug-in?

[2020-08-10 17:55] jcorrea-splunk opened #121 "PyCharm EnvFile plugin does not support the Python Console"
Run configurations seem to be the only option for using the EnvFile plugin. PyCharm also has a Python Console that includes the application context and virtual environment. It would be nice to have the EnvFile plugin available for this tool as well.

[2020-08-11 19:15] ledjon opened #122 "Better bash workaround"
The bash workaround documented in the README talks about reading in the file and (re)-exporting the variables (lines in the file) 1-by-1.  There is an easier/cleaner/more-correct solution that still allows comments in the .env file (i.e., treats it like bash script still).  Basically you use `set -a` which will treat all variables that are set as exports.  The second `set +a` disables this behavio

[2020-08-24 14:27] banagale commented on #121
Would also appreciate this being added.

[2020-08-31 17:23] ClintEsteMadera commented on #101
I totally support this addition request. Node.js is widely used enough for making this a priority. Thanks a lot!

[2020-09-10 23:33] medmunds opened #123 "Support JetBrains HTTP client env file format"
Feature request: support using [JetBrains HTTP client environment files][http-env-file] as EnvFile sources. This would allow sharing the same env between the IDE's bundled HTTP client and run configurations.

JetBrains HTTP client env files are JSON, but they contain multiple named environments, each with its own set of environment variables. Example:

[code]

It might be possible to detect this f

[2020-09-23 09:49] Emixam23-FCMS commented on #109
Hey!

Doesn't work as of today with your answer :) I am using IntelliJ IDEA Ultimate and Go

IntelliJ IDEA Ultimate 2020.2.1
Build #IU-202.6948.69, Built on August 24, 2020

[2020-09-30 12:11] antoine-morisseau commented on #106
I would like to contribute and take time to add Play 2 App support.
But do you know where the code is located for something similar ?
Is it a good start to go from `GradleEnvFileProvider` in order to create a PlayAppEnvFileProvider ?

[2020-09-30 13:43] antoine-morisseau commented on #106
Ok. i saw it use the `GradleRunConfiguration` to attach to it.
I created a run configuration of a Play 2 App configuration and then stored it as xml project file.
`type="Play2FrameworkRunConfigurations" factoryName="Play 2 App"`
I searched everywhere a `Play2FrameworkRunConfigurations` on the web and couldn't find anything.

Even in the scala plugin it's not referenced. (https://github.com/JetBrai

[2020-10-04 20:29] iThinker commented on #108
Same here. Original solution with disabling delegated build works though.

[2020-10-16 16:06] razilevin opened #124 "Supporting yaml key value pairs"
Hello,

I know your plugin supports yaml file format. It works when the structure is flat

[code]

But fails with a class cast exception LinkedHashMap cannot be cast to String when I use yaml key value pairs.

[code]

Makes sense when you think about it just wondering if I am missing something.

Thank You

[2020-10-23 10:37] RafaelKr commented on #36
It should be possible now finally! :)
https://youtrack.jetbrains.com/issue/WEB-36734#focus=Comments-27-4463491.0-0

[2020-11-07 04:30] richardbrockie commented on #121
Agreeing with @jdcorreajr and @banagale:

When working with Django there are 3 console-type locations where environment variables can be set - adding EnvFile capability to these locations would be great:

1. Build, Execution, Deployment > Console > Python Console
1. Build, Execution, Deployment > Console > Django Console
1. Languages & Frameworks > Django > Manage.py tasks

[2020-11-09 07:54] vojkny commented on #120
This doesn't concern only tests, but also all the microservices. Each of them require manual setup currently.

[2020-11-18 10:14] cjdudleybw opened #125 "Plugin fails to load variables in IntelliJ"
I've run into a bug using EnvFile in IntelliJ Ultimate Edition (full version/specs below). The file definitely exists on my system, and I've checked with colleagues that the rest of the config is correct, however the plugin fails to load in the Environment Variables stored in my env file.
Bulk pasting the contents of the file manually works fine, which is why I suspect a bug in the plugin. Is this

[2020-11-18 12:13] 1oglop1 opened #126 "Add .env file dialog should start from Run configuration working directory"
Hi, thanks for the amazing plugin it helps a lot.
There is one slight annoyance when enabling `EnvFile` in a run configuration, the dialogue window to search for the `.env` file starts in a last used directory. I think it would be much better (if possible) to start the search in `Run Configuration` working directory.

Expected flow:

1. Create Run Configuration, Set the working directory `/my-run-

[2020-11-24 07:45] goosmurf commented on #125
@cjdudleybw not sure if I ran into the same issue but for reasons still unknown, a run configuration that I had been using for years also just started failing with the same symptoms. Config looks correct but EnvFile was not loading the variables stored in my env file.

In my case I was able to workaround by creating a new run config with the same settings. Would be interested to know if that works

[2020-11-24 10:48] mfaizanse commented on #125
I am facing the same issue. The plugin is not loading the Environment Variables defined in my env file.

[code]

[2020-11-25 05:41] ZihaoPri commented on #120
Hi @knyttl,
In fact, I found that we could setting environment variables for multiple running objects by using an IDE template configuration.
To do this you can open IDE's `Run/Debug Configuration` to select the type you need and set Envfile for it.
![image](https://user-images.githubusercontent.com/37468677/100187734-af84aa00-2f23-11eb-8a3b-d4d5aef52d97.png)

[2020-11-25 16:20] virtuoushub commented on #125
@goosmurf I also ran into the same issue w/ a run config that had been working for months.

I tried recreating the run config, but that did not work.

[code]

[2020-11-26 01:10] ashald commented on #125
Hi there, plugin maintainer here. As you can tell, I have very limited time for supporting the plugin right now.
Funny enough, I use plugin in IDEA for JUnit run configurations on daily basis on macOS Catalina and that have been working for me flawlessly.

I haven't tried upgrading to Big Sure yet, nor I have Windows or Linux machines handy to try it there.
I just downloaded the latest version of

[2020-11-26 07:47] vojkny commented on #120
very helpful indeed!

[2020-11-28 19:49] vojkny commented on #125
Not working on IDEA 2020.2.3.

[2020-12-01 23:56] justin-dd commented on #125
Not that it's helping, but I updated to IDEA 2020.2.3 and it's also now not working for me - tried deleting the `.idea` directory, but that didn't seem to help.

[2020-12-02 00:06] cadethacker commented on #122
This solution above is nice!  Here is what I came up with.  Might be helpful to somebody, so I'll leave it here.  I also ran into some slight issues with the bash example.

**Issue 1:  the env file can't have double quotes on the value.**
In the example:

[code]

This resulted in an env var of:

[code]

So I stripped out all the double quotes.

[code]

which resulted in

[code]

**Issue 2: Blank a

[2020-12-02 15:51] FedericoOldrini commented on #125
It seems to be something relative also to kotlin plugin 1.4.x. Rolling back to 1.3.latest the env plugin start working again.

same behaviour on 2020.2.3 and 2020.3

[2020-12-24 13:25] #120 closed, assigned to nobody

[2021-01-07 09:53] Thource commented on #125
I had this same issue, I've upgraded Kotlin plugin to 1.4.21 (203-1.4.21-release-IJ6682.9) and EnvFile is now working as intended.

[2021-01-26 23:55] fkrauthan commented on #108
I have the same issue. Switching from `Build and Run Via`: `Gradle `to `Intellij` fixes it.

[2021-02-06 20:15] SJrX commented on #101
I took a look at this, and have something works in a not great way.

Ignoring the mess I made in gradle, this [branch](https://github.com/SJrX/EnvFile/pull/1/files) (not to this repo since it's not mergable), does add EnvFile support to the NodeJS Run Configuration.

![image](https://user-images.githubusercontent.com/1916599/107128537-4b5f5a00-6873-11eb-8960-b3316c4366b0.png)

Unfortunately, the o

[2021-02-06 20:23] ashald commented on #101
Hi @SJrX, appreciate your effort!
First of all, it's great to hear you got something to work. My experience developing this plugin was mostly trial and error as IDE  interfaces are not really consistent (at least, weren't) and it took a lot of hacking to get anything to work.

Recently I don't have much time for OSS activity, unfortunately. That being said, I don't want to abandon this plugin eith

[2021-02-06 20:29] ashald commented on #124
What would an expected behavior in your opinion in this case?
[code]
or
[code]
?

What if there are some lists in the yaml?
That is to say that it seems that there are some edge cases that might complicate this. If we can define a strategy how we want handle it, so that it provides a consistent experience, I'd be open to such a feature.

The caveat though, recently I don't have much time for OSS a

[2021-02-07 09:59] GigiusB opened #128 "Feature request: support for interpolation"
It would be nice if interpolation was supported

Example:
[code]
should give:
[code]

[2021-02-10 12:23] songololo opened #129 "Works when running configuration in debug mode, but doesn't work in run mode?"
In my case the plugin works when running a configuration in debug mode, but doesn't work in run mode.

Is there a configuration issue on my end or is this possibly a bug?

Pycharm version 2020.3

[2021-02-18 04:49] BenSmith commented on #129
I have the same issue.

[2021-02-26 15:41] darwinyip opened #130 "Macros not executing"
My .env file has macros like `FOO=$(command)` but these don't get executed so the env var will become `FOO="$(command)"` instead of the intended value.

[2021-03-02 16:56] benjamint-bsquare opened #131 "Docker support"
Requesting support for Docker and Docker Compose Run/Debug configuration.
(EnvFile is great)

[2021-03-17 02:23] gshmu opened #133 "Warning type err will be better"
`Error running 'serve': class java.lang.Integer cannot be cast to class java.lang.String (java.lang.Integer and java.lang.String are in module java.base of loader 'bootstrap')`

`Error running 'serve': class java.lang.Boolean cannot be cast to class java.lang.String (java.lang.Boolean and java.lang.String are in module java.base of loader 'bootstrap')`

The Unix ENV master be string, but I think c

[2021-03-19 14:12] pastorhudson commented on #129
Same issue.

[2021-03-22 13:07] nrontsis commented on #129
As a temporary workaround, I am using the following option:
![Screenshot 2021-03-22 at 13 06 51](https://user-images.githubusercontent.com/4145552/111994298-88c03400-8b0f-11eb-9839-dc18022a637a.png)
in the run configuration.

[2021-03-22 18:53] anatoly314 commented on #36
Any updates on this?

[2021-04-12 17:10] t-art opened #134 "The plugin can't see hidden files"
Tried to use .env file but, the plugin can't see hidden files in linux even though IDE does see it. I am not able to rename file because in our company we use exactly ".env" name of a config file.

[2021-04-13 16:02] squarewave24 opened #135 "Add dialog is empty"
installed the plugin, restarted intelliJ and getting an empty dialog `Nothing here` when trying to add .env file

![image](https://user-images.githubusercontent.com/843437/114583725-e0097e00-9c4f-11eb-9cff-89519a1d7717.png)

[code]

![image](https://user-images.githubusercontent.com/843437/114584177-60c87a00-9c50-11eb-81c4-7100c3468bb0.png)

[2021-04-21 00:38] cm-kazup0n commented on #134
@t-art
Hi, I have to use envfile named `.env` too.
Here's my workaround (in my macBook)

1. Choose any file in the project root(or in directory where the envfile exists)
2. After choosing the file,  selected file is shown in the envfile list
2. Edit the file name to `.env`

![image](https://user-images.githubusercontent.com/29879544/115480370-511ae800-a285-11eb-8343-ff6ea64c7290.png)

[2021-04-25 19:16] steebchen commented on #102
Would love if #117 could get merged :)

[2021-04-28 10:25] magakoos opened #136 "Plugin block pycharm if docker-compose remote interpreter selected."
Hi!

I have caught a bug. When the plugin has enabled and docker-compose interpreter has selected then the config window has been blocked.

I have no experience with java, but if it needs can provide all the needed info.

Thank you for your job.

[2021-05-03 17:43] effiban opened #137 "When trying to set the env file for the ScalaTest run configuration template, an exception appears"
I got the exception below when trying to add an env file to the Scalatest run configuration template.
Sometimes it gets saved and sometimes it doesn't, but in any case when I create a new run configuration _from_ the template it never gets applied.

I am running Ubuntu 18 and IntelliJ 2021.1

[code]

[2021-05-03 19:58] i3v commented on #137
Just ran into the same issue, PyCharm 2021.1.1 Windows 10.

[2021-05-06 16:52] kasobol-msft opened #138 "Feature request: Global .env picker"
In my workflow I often switch between 2-3 .env files while running couple of different test suites from the same project.
In order to do this I have to navigate to run/debug settings then to EvnVar tab and make selection there.
For my case it would be great if there was a easily accessible global place (e.g. toolbar or menu) where I can switch between files and selection would automatically apply

[2021-05-13 22:07] jasonleibowitz commented on #108
I'm also getting this issue with IntelliJ CE 2021.1.1 and EnvFile 3.2.1. When running Gradle build my env variables are picked up, but they're not with Gradle run 😕

[2021-05-14 19:53] HirdrWit commented on #137
Yes please fix ASAP, this is pretty annoying.
[code]

[2021-05-17 09:40] prochac commented on #138
Can't believe this issue is old 11 days only. This feature should be there a long time ago.

[2021-05-17 15:41] ricardoorfao commented on #137
I'm having the same problem using PyCharm 2021.1.1 on MacOS Big Sur 11.2.3.

[2021-05-19 15:15] naveenkumarg-oss opened #139 "Feature request: Option to load as Java System properties"
Plugin for Java project is loading values as System Environment Property, no issues with that. In workflows where initialization happens via call to `System.getProperty(key)`, we need to fallback to Run configuration in IntelliJ. This fragments utility of the plugin. If an option can be considered under `Enable EnvFile` which will toggle loading `.env` as Java System properties, it increases use o

[2021-05-25 07:58] charlot3 commented on #134
@t-art
Hi,
it's easy to figure out how to find hidden files by a simple command while choosing files
on macos for example, just cmd + shift + [.] and you can see the .env files.
Hope it works for you.

[2021-06-01 06:14] t-botz commented on #137
Same on GoLand 2021.1.2 on Mac

[2021-06-04 18:12] alin-simionoiuDE opened #140 "Plugin is not installing in IntelliJ 2021"
This is the error i see when I'm trying to install EnvFile plugin

<img width="411" alt="Screen Shot 2021-06-04 at 11 10 45 AM" src="https://user-images.githubusercontent.com/1194699/120845443-b2410700-c525-11eb-9b93-b7e9dfbf4d8b.png">

any ideas how to get around this?

[2021-06-04 22:49] ashald commented on #140
First time I see this. o_O
Could you provide more details about IDE version? Will see if I can reproduce it.
You can also try installing it from an archive from releases page.

[2021-06-05 01:44] alin-simionoiuDE commented on #140
version that i'm using is `212.3724.25`

this is the error at startup

[code]

unfortunately It doesn't provide any kind of information about "what" exactly is invalid in the plugin descriptor. since this is EAP build of Intellij, I'm not sure if this is a bug in this specific build version or an early sign of something to come

it is interesting that this is the only plugin, from the list of plug

[2021-06-07 09:00] lpouget commented on #140
Hi,

I have exactly the same problem with last EAP.

[code]
and logs during installation:

[code]

[2021-06-09 16:13] alin-simionoiuDE commented on #140
yup. there's definitely something wrong here. jebrains dropped a new build `212.4037.9` and EnvFile plugin has the same problem

[2021-06-09 16:41] alin-simionoiuDE commented on #140
found this bug which may be relevant: https://youtrack.jetbrains.com/issue/IDEA-270963

[2021-06-10 02:12] ashald commented on #140
I don't have time for OSS activity right now so appreciate @alins digging it up.
I hope it's an issue with EAP and will get fixed in the next IDE release.
If plugin has to be rebuilt with newer version of IDEA SDK - will try to release a new version by the end of the month. You should be able to do a local build though if you desperately need it sooner.

[2021-06-10 04:29] shettyshreyas commented on #135
I am facing it too, any updates here?

[2021-06-22 18:37] jagwire16 commented on #134
While I did confirm that both workarounds listed above do work as expected, it would be nice if hidden files were shown by default in this view given that the entire context of selecting the file in the first place is that it will almost certainly be called `.env` and therefore be hidden. I _do_ have hidden files visible in Finder, yet that property is not inherited in the JetBrains file selector.

[2021-07-14 08:15] doublefx commented on #140
Still happening in:

IntelliJ IDEA 2021.2 Beta (Ultimate Edition)
Build #IU-212.4638.7, built on July 6, 2021

[2021-07-15 13:27] effiban commented on #137
@ashald - did you get a chance to look at this issue? Is it part of the integrations you mention that are not reliable?

[2021-07-16 17:01] alin-simionoiuDE commented on #140
this is interesting...from https://youtrack.jetbrains.com/issue/IDEA-270963

_Ben Gruver commented 15 hours ago
Yes. For my fusionIdea plugin, I just copy the optional intellij.xml files (or whatever name you give them) to both the META-INF directory and the root in the plugin zip file. And then, in the plugin.xml, you can use, e.g. <depends optional="true" config-file="intellij.xml">com.intellij.

[2021-07-19 16:30] tsalzinger commented on #140
I made a build working for me locally, which now loads correctly.

After I loaded up the plugin source IDEA immediately complained about 2 of the module IDs for the optional depends:
* `com.intellij.java` which code completion suggests should be `com.intellij.modules.java`
* `com.intellij.gradle` which I guess should be `org.jetbrains.plugins.gradle`

after changing this it still didn't work thoug

[2021-07-20 02:21] alin-simionoiuDE commented on #140
confirmed!! nice work.

there's a slight problem in your diff. doesn't really matched what you described.

this

[code]

should actually be

[code]

[2021-07-20 07:40] tsalzinger commented on #140
true, sry - seems I messed up the changes before before creating the diff and I didn't re-check it - I updated the diff

also thanks for confirming / testing the changes - I'll prepare a proper PR then

[2021-07-20 08:37] tsalzinger commented on #140
I did some more digging now and found out that this optional dependency without config file was introduced via PR #107 to fix #100

the main problem I see is that the plugin is officially is still built with platform version 2018.3, but the before mentioned changes only affect builds >= 2019.2 (see https://blog.jetbrains.com/platform/2019/06/java-functionality-extracted-as-a-plugin/).

So while ju

[2021-07-20 12:52] ashald commented on #140
Have hard time finding time to get back to this.
I don't see an issues with upgrading the base version of the IDE the plugin is built against. I wouldn't use the latest one, but maybe something reasonable a year old or so.
The trick here is that, AFAIR, once you license expires, you can continue using your version but won't receive any future update. Don't want to lock out plugins users in such ca

[2021-07-21 08:00] tsalzinger commented on #140
that should be fine I guess, but I'm not an expert on it either

that won't happen any way - they would still be able to use the old versions of the plugin, it wouldn't jsut vanish for them, they just wouldn't receive any more updates

But the platform upgrade might not be necessary at all, but I didn't find the time yet to check my fixes in any other products then IDEA 2021.2

[2021-07-21 10:12] barakbbn opened #141 "Feature request: different text color for comments"
It would be better if comments would have different color than the rest of the entries (i.e. grayed)

[code]

So when someone put a value for **PREFIX** he/she won't forget to uncomment it (like it keeps happening for several people already)

[2021-07-26 20:48] m-murthy opened #142 "Intellij 2021.3 - Unable to Add reference to ".env file""
No longer able to link the reference to an external .env file on the UI ( as seen in the screenshot).

The item click for `Add` is unresponsive.

`IntelliJ Version 2021.3`

![image](https://user-images.githubusercontent.com/63057753/127056971-8db2a54e-c3cd-477a-bda2-78e5c9d9f69c.png)

[2021-07-26 21:04] #142 closed, assigned to nobody

[2021-07-26 21:05] m-murthy commented on #142
Update - Installing https://github.com/ashald/EnvFile/releases/tag/v3.2.1 the patch release manually worked.

[2021-07-27 16:57] fehbari commented on #140
Hi @tsalzinger @ashald. Thanks Thomas for attaching your build of the plugin, I was able to install it and get back to work. Huge kudos!

Are we opening a PR for that and updating the plugin in the marketplace?

[2021-07-27 18:05] chrisbroome commented on #140
Confirmed the zip file linked in https://github.com/ashald/EnvFile/issues/140#issuecomment-883210881 fixes the issue.

[2021-07-27 19:31] fgm commented on #140
FWIW the issue is also present in GoLand 2021.2 RC 212.4746.57.

[2021-07-27 19:37] andrewedstrom commented on #140
My team started seeing this today after upgrading IntelliJ to 2021.2 build #IU-212.4746.92

[2021-07-28 05:08] nedmules-sked commented on #140
@andrewedstrom Also confirming that the snapshot build linked above works for me on the official release of IntelliJ 2021.2 build #IU-212.4746.92.

Just install the zip file manually via Settings -> Plugins

Thanks for the fix @tsalzinger

[2021-07-28 07:09] cn-core opened #143 "Plugin Installation Error"
![image](https://user-images.githubusercontent.com/30290251/127279460-a014c430-35f4-49c7-b88a-05a81524a079.png)

[2021-07-28 07:55] cn-core opened #144 "Assertion failed: dataContext has no component for new ListPopupster"
![image](https://user-images.githubusercontent.com/30290251/127285516-27e931b1-2a96-420f-8ff4-f7c76c832272.png)

[2021-07-28 08:14] agaengel commented on #143
This is a duplicate with https://github.com/ashald/EnvFile/issues/140

[2021-07-28 08:24] cn-core commented on #143
thank you ...

[2021-07-29 08:24] DG007 commented on #140
Confirmed the zip file linked in #140 (comment) fixes the issue.

[2021-07-29 10:02] meneses-pt opened #145 "Plugin not installing after update"
I just updated PyCharm to 2021.2, and this plugin seems to have been uninstalled and I can't install it again even after restarting PyCharm.

When trying to install the plugin I get the following message: "Plugin 'EnvFile' was not installed: Failed to load the plugin descriptor from the downloaded archive. The archive is probably not an IntelliJ plugin.".

[2021-07-29 10:10] djtsov commented on #145
@meneses-pt Duplicated https://github.com/ashald/EnvFile/issues/140
Install this version:
https://github.com/ashald/EnvFile/issues/140#issuecomment-883210881

[2021-07-29 10:34] #145 closed, assigned to nobody

[2021-07-29 12:13] MichalVasut commented on #140
bug confirmed on

PyCharm 2021.2 (Professional Edition)
Build #PY-212.4746.96, built on July 27, 2021

Provided zip ([EnvFile-3.2.2-SNAPSHOT.zip](https://github.com/ashald/EnvFile/files/6846706/EnvFile-3.2.2-SNAPSHOT.zip)) works, thanks @tsalzinger.

[2021-07-29 12:15] MCTrustPower commented on #140
Same bug confirmed here on

IntelliJ IDEA 2021.2 (Ultimate Edition)
Build #IU-212.4746.92, built on July 27, 2021

The zip file from @tsalzinger worked perfectly, thanks.

[2021-07-29 12:29] LoLei commented on #140
I must be doing something wrong, after using the zip file mentioned above, the plugin is installed again, but it does not source anything from my .env file. I have re-enabled it in the run configuration. (Pycharm)

[2021-07-29 12:31] MCTrustPower commented on #140
@LoLei I had to to remove all my old configurations and re-apply them to make them start working.

[2021-07-29 12:31] dcram commented on #140
I also confirm the bug appearing with IntelliJ IDEA 2021.2 Build #IU-212.4746.92, built on July 27, 2021, but after the manual install of the zip file @tsalzinger , I still have no env tab in my Run dialogs.

[2021-07-29 12:39] LoLei commented on #140
@MCTrustPower That didn't fix it but thanks anyway.

[2021-07-29 12:48] dcram commented on #140
That seems to be my error:

[code]

[2021-07-29 13:25] matthewcornell commented on #140
I love the plugin, and would be very grateful to get a fix :-)

[2021-07-29 19:59] KingMob commented on #140
I'm seeing the same error as @dcram with the downloaded .zip version.

IntelliJ IDEA 2021.2 (Community Edition)
Build #IC-212.4746.92, built on July 27, 2021
Runtime version: 11.0.11+9-b1504.13 x86_64

[2021-07-29 21:03] JSorella commented on #140
Hi!
Today I was having this same issue with the marketplace version (3.2.1), but I have downloaded the ZIP version (3.2.2-SNAPSHOT) and it worked fine in my system:
[code]

[2021-07-29 22:49] antonije commented on #140
@JSorella Where did you manage to find the ZIP version (3.2.2-SNAPSHOT)?

[2021-07-29 23:42] joaonc commented on #140
@antonije here: https://github.com/ashald/EnvFile/issues/140#issuecomment-889065894
Click the filename to download.   In the plugins section, there's an option to install from file, just use that zip.

[2021-07-30 06:42] hound672 commented on #140
Thanks! It works

[2021-07-31 21:25] zzdoug commented on #140
Thanks for the fix.  I came looking for help after the PyCharm update caused the configuration menu to stop showing the EnvFile option.   The zip worked for me on PyCharm 2021.2 (Professional Edition) Build #PY-212.4746.96 after installing from the plugins menu.
I did get this alert in the event log but there was no need to take any action.
![Screenshot from 2021-07-31 15-18-16](https://user-image

[2021-08-01 06:41] tonal commented on #140
PyCharm 2021.2 (Professional Edition)
Build #PY-212.4746.96, built on July 27, 2021
[EnvFile-3.2.2-SNAPSHOT.zip](https://github.com/ashald/EnvFile/files/6846706/EnvFile-3.2.2-SNAPSHOT.zip) work!

[2021-08-02 06:56] ambroziepaval opened #146 "EnvFile plugin not working on 2021.2"
EnvFile plugin not working with version 2021.2 (Ultimate Edition).
Build #IU-212.4746.92, built on July 27, 2021

Message:
Plugin "EnvFile" was not installed: Failed to load the plugin descriptor from the downloaded archive. The archive is probably not an IntelliJ plugin.

[2021-08-02 09:15] vikingair commented on #146
Duplicate of #140

[2021-08-03 07:51] ionutioio opened #148 "EnvFile pluggin not supported in Idea 2021.2"
Plugin no longer appears for test templates nor run configurations

[2021-08-03 07:52] #148 closed, assigned to nobody

[2021-08-03 07:52] ionutioio commented on #148
Duplicate

[2021-08-03 22:15] mauricio-repetto commented on #140
The snapshot version in the zip provided did the magic for me. Thanks!

[2021-08-07 14:24] sajjadtalebi commented on #146
I had a similar problem with this plugin. Until this issue is resolved in the new version, you can copy the contents of your env file instead of using this plugin and paste it through the Edit Configuration in the Environment Variables section. I did this and my problem was solved.

[2021-08-07 14:25] sajjadtalebi commented on #140
I had a similar problem with this plugin. Until this issue is resolved in the new version, you can copy the contents of your env file instead of using this plugin and paste it through the Edit Configuration in the Environment Variables section. I did this and my problem was solved.

[2021-08-07 19:30] sebastianrothe commented on #140
Even with this version, the plugin does nothing. The `.env` variables are not applied.

[2021-08-09 07:05] vikingair commented on #146
@sajjadtalebi This would require tedious manual work as the configuration is injected in many places in our project.

I've chosen to use "Jetbrains Toolbox" to downgrade my IDE to 2021.1.3 until this issue gets resolved. Hopefully soon :v:

[2021-08-09 11:21] nenad-lambdas commented on #140
Can confirm that https://github.com/ashald/EnvFile/files/6846706/EnvFile-3.2.2-SNAPSHOT.zip worked with GoLand 2021.2

[2021-08-09 15:07] dooferlad commented on #140
While the snapshot has worked for me, there is an exception being reported:

[code]

[2021-08-10 00:51] tptech commented on #140
What format are you using within your `.env` file?

My standard `.env` file contains the following format, used by `autoenv`

[code]

The plugin appears to expect the referenced _environment_ file to be in the following format:

[code]

I have a script that converts my `.env` file to this other format, and it works for me.

I hope this helps.

Cheers,  S t u a r t .

[2021-08-10 08:59] volkerrichert opened #149 "on reload gradle projects env files are not loaded"
If you reload all gradle projects no additional files are loaded. I try to configure one in the gradle template, but this doesn't work

[2021-08-10 09:02] dooferlad commented on #140
I am using a YAML format file, which validates correctly. I hadn't noticed any problems with older versions of the plugin.

[2021-08-10 23:43] eltonsandre commented on #140
Hi guys,
 I had the same problem with the Intellij update, trying to fix the problem, I forked the project and tweaked it as needed. Here is a version I compiled, compatible with the latest version 212. *. manual installation, hope it helps provisionally.

[EnvFile-v3.2.2](https://github.com/eltonsandre/EnvFile/releases/tag/v3.2.2)

[2021-08-11 17:00] lucianolev commented on #140
Version "snapshot" above does work for me on Pycharm 2021.2, but this one does not. It says "com.intellij.java" is not installed, upon installation.

[2021-08-12 14:24] vojkny commented on #146
<img width="394" alt="Screenshot 2021-08-12 at 16 22 44" src="https://user-images.githubusercontent.com/401107/129213994-8c453486-6a43-4fd1-beba-2d75f95eaf10.png">

[2021-08-12 14:39] BorzdeG commented on #146
@knyttl see #140
<img width="365" alt="image" src="https://user-images.githubusercontent.com/2332528/129216440-fa8fab39-d44f-4e91-b6ac-643efc6b7ce8.png">

[2021-08-12 16:35] fkrauthan commented on #140
Snapshot version worked for me on Intellij Ultimate 2021.2

[2021-08-12 16:44] Tradunsky commented on #140
The plugin works in regular application run configurations, but does not seem to work in test configurations (tried to create new one as well):
![image](https://user-images.githubusercontent.com/4522842/129235420-650cd497-c1cc-4d1d-80ee-38bf9979040c.png)

[code]

[2021-08-12 17:14] vojkny commented on #146
@BorzdeG thanks!

https://github.com/eltonsandre/EnvFile/releases/tag/v3.2.2

[2021-08-12 19:14] draeron commented on #146
seems like the plugin  only works for IntelliJ, on Goland 2021.2 i get an error message.

![image](https://user-images.githubusercontent.com/2256246/129255076-db2dcbf2-23a2-4661-ba21-4245740b3901.png)

[2021-08-13 05:16] arigesher commented on #146
Can confirm the identical error in PyCharm.

[2021-08-13 05:21] BorzdeG commented on #146
@draeron , @arigesher install https://plugins.jetbrains.com/plugin/11594-properties

[2021-08-13 05:23] BorzdeG commented on #146
But I don't understand why it requires a `com.intellij.java` plugin in GoLand ...

 ![image](https://user-images.githubusercontent.com/2332528/129308722-4a4d1c31-9dbf-4f58-96f2-0bf3c048c16d.png)

[2021-08-13 10:23] Whitefield87 opened #151 "Failed to load the plugin descriptor from the downloaded archive"
I receive this error when trying to install this plugin to pycharm 2021.2

[2021-08-13 11:58] penkin commented on #151
Having the same issue.

![Screenshot 2021-08-13 at 13 58 06](https://user-images.githubusercontent.com/771661/129353834-c2dbeff9-908c-4766-bb7d-291ed2a58dae.png)

[2021-08-13 13:11] Doug-Cleo commented on #151
I'm also having the same problem. Got around it by installing this
[EnvFile-3.2.2-SNAPSHOT.zip](https://github.com/ashald/EnvFile/files/6982603/EnvFile-3.2.2-SNAPSHOT.zip) manually, but that's not an ideal solution.

[2021-08-13 13:17] penkin commented on #151
Thanks @Doug-Cleo that works perfectly.

[2021-08-16 19:41] runswithd6s opened #152 "Unable to build locally with fresh git project"
When attempting to build the plugin locally, I'm unable to get a clean, test, or build action to execute cleanly. This error is shown. What steps are required to build this plugin successfully? I do not have a copy of RubyMine or the other products this plugin supports fully.

[code]

Version: * develop bcbce38 [origin/develop] Revert "IDEA 2020.1 note"
Environment: Mac OS 11.5.2, Homebrew 3.2.2

[2021-08-17 22:10] anopheles commented on #151
Duplicate of https://github.com/ashald/EnvFile/issues/140

[2021-08-18 12:12] IgorNetOp opened #153 "Fails to install on on Ultimate edition of IDEA 2021.2 from July 27, 2021 build"
![image](https://user-images.githubusercontent.com/49119182/129895883-2c2015f6-142e-4764-a349-4239fd379901.png)

[2021-08-18 14:30] msvidal2 commented on #153
.

[2021-08-18 14:32] ghost commented on #153
[146](https://github.com/ashald/EnvFile/issues/146)

[2021-08-18 15:05] ineph commented on #153
#151
Easy solution that work for me (note that is not an ideal solution as he says):
 _Originally posted by @Doug-Cleo in https://github.com/ashald/EnvFile/issues/151#issuecomment-898447980_

[2021-08-21 05:56] shinichy commented on #152
I think you're using Java 11. Please make sure you're using java 8.

[2021-08-23 13:40] matthewcornell commented on #140
A question: Is this plugin still supported? I see the generous work to create manually-installable versions... Just curious, thanks.

[2021-08-23 15:05] runswithd6s commented on #152
That indeed was the problem. This should probably be called out in the `README.md`. Thanks for your help!

[2021-08-23 15:05] #152 closed, assigned to nobody

[2021-08-24 15:38] aldenjenkins commented on #140
@matthewcornell I am curious as well

[2021-08-26 11:06] jhud commented on #151
@Doug-Cleo 's solution worked great, but here's some extra tips for installing:

- Note that Safari will automatically unzip the file for you, so use another browser instead, so you get the ZIP file.
- Press ⌘, to open IDE settings and select Plugins.
- On the Plugins page, click The Settings button and then click Install Plugin from Disk.
- Select the plugin archive file and click OK.
- Click OK

[2021-08-26 21:35] fehbari opened #155 "[Request] Assign the project new maintainers"
Given the current state of the plugin, with the installation reported [broken for months](https://github.com/ashald/EnvFile/issues/140), a [critical fix](https://github.com/ashald/EnvFile/pull/147) waiting weeks for a merge, and the author claiming multiple times that he no longer has time for open-source activity, it would be in the best interest of the community that a trusty 2nd maintainer (or

[2021-08-26 21:39] fehbari commented on #140
The author doesn't seem to have time to maintain it anymore. Sadly, he's not around lately for approving PRs, so we're stuck with unmerged fixes. 😞

Please upvote my [request to add new maintainers](https://github.com/ashald/EnvFile/issues/155) so the community can carry on the work when the author isn't available.

[2021-08-26 22:50] joaonc commented on #155
Agreed and hope @ashald does add someone to help reviewing and merging PRs.

I think it would help to have people suggestions here..   anyone volunteering to be that person?  (wink, wink @tsalzinger who fixed https://github.com/ashald/EnvFile/issues/140).

Another alternative would be to clone this repo and call it **EnvFile2**, which is a practice done often (again, volunteers are needed).

I use

[2021-08-27 16:10] JSorella commented on #155
I am able to help if it's necessary!

[2021-08-28 10:43] muhammednagy commented on #155
am able to help as well.

[2021-08-30 06:31] Thorbenl commented on #155
I can help too!

[2021-08-31 22:35] eltonsandre commented on #155
I can help too!

[2021-09-01 11:49] DSEyers commented on #155
Or create new Repo with a copy of the code on the basis its not copy protected.

[2021-09-02 04:04] ashald commented on #102
I have no intention on merging #117 as it is right now.

I'm considering whether I'd agree to merge it if #117 included a feature toggle.
That being said, it sounds like the right way to handle this is to add support for a new format type which would execute a given executable in a shell and then read the environment variables from it. Would welcome such contribution.

[2021-09-02 04:05] ashald commented on #149
I don't understand your issue - could you describe it in more details please?

[2021-09-02 04:07] ashald commented on #141
This plugin does not provide syntax support for `.env` files.
I heard https://plugins.jetbrains.com/plugin/11594-properties does something like that though.

Alternatively, I'd be curious to see a PR that would add that.

[2021-09-02 04:09] ashald commented on #139
This goes beyond the initial intent of the plugin, thought I'd be curious to see a PR adding such functionality.

[2021-09-02 04:10] ashald commented on #138
Would welcome contributions!

[2021-09-02 04:11] ashald commented on #136
Could you provide a screenshot to better explain what you mean?

[2021-09-02 04:13] ashald commented on #134
I believe I had some code to request hidden files to be shown. If this broke - I'd welcome a PR with a fix.

[2021-09-02 04:14] ashald commented on #133
I'm not sure I understand. Could you clarify?

[2021-09-02 04:14] ashald commented on #131
I'm not sure those particular run configuration expose necessary extension points, but I'd welcome such contribution!

[2021-09-02 04:15] ashald commented on #130
What is the intended value here?

[2021-09-02 04:16] ashald commented on #128
Don't we have this already as a feature toggle? https://github.com/ashald/EnvFile#usage

[2021-09-02 04:17] ashald commented on #126
I believe I had code to request the file dialog in the project directory. If that's not the case, or if that broke - I'd welcome a PR with a fix!

[2021-09-02 04:18] ashald commented on #125
So I guess it's working now?

[2021-09-02 04:18] ashald commented on #124
No response from requestor - closing. Please feel free to reopen once you're ready to answer above questions.

[2021-09-02 04:18] #124 closed, assigned to nobody

[2021-09-02 04:20] ashald commented on #123
Sound like a great idea! I have very limited time available for maintaining this plugin so cannot promise I'll be able to get to it any time soon, but would welcome a PR!

[2021-09-02 04:21] ashald commented on #122
Thanks for tips! Would welcome a PR to docs!

[2021-09-02 05:03] ashald commented on #153
Closing as duplicate of #151

[2021-09-02 05:03] #153 closed, assigned to nobody

[2021-09-02 05:04] ashald commented on #151
Closing as duplicate of #140

[2021-09-02 05:04] #151 closed, assigned to nobody

[2021-09-02 05:05] ashald commented on #140
Thanks everyone for investigation and thanks to @tosmun for contributing the fix.
I just merged the PR, built a new version and submitted it into JetBrains Marketplace - it should become available within 2 business days.

[2021-09-02 05:05] #140 closed, assigned to nobody

[2021-09-02 05:21] ashald commented on #155
TL;DR: I have no intention of doing so. Though feel free to fork it, it's OSS.

Now, some details for those who are interested.
First of all, this particular repo doesn't mean anything. Anyone can fork it, and many already did so.
What really matters is ability to publish the plugin to JetBrains Marketplace. And I was doing so under my personal account so far.
I have no intention of giving access

[2021-09-02 05:21] #155 closed, assigned to nobody

[2021-09-02 05:21] ashald commented on #143
Closing as a duplicate, fixed now.

[2021-09-02 05:21] #143 closed, assigned to nobody

[2021-09-02 05:22] ashald commented on #146
Closing as a duplicate, also - fixed.

[2021-09-02 05:22] #146 closed, assigned to nobody

[2021-09-02 07:15] volkerrichert commented on #149
If you change build.gradle, IntelliJ ask to reload the changes (small elephant). My buildfile uses an env var to access a private repository. the token is stored in a env file. This isn't loaded during refresh.

[2021-09-02 10:26] volkerrichert commented on #149
The tab is called "Sync" inside the IDE.

[2021-09-03 01:48] darwinyip commented on #130
It could be any value for example
Say I have `file.txt` with 500 words.
[code]
Then `WORD_COUNT` will have a value of 500.

My use case is to fetch docker ports and AWS environment tokens.

[2021-09-12 20:22] arrancardnell commented on #144
Also seeing this issue in version 3.2.2 on both RubyMine and PyCharm:

[code]

[2021-09-15 14:24] kmejka commented on #96
Hey @ashald  I wanted to return to this item, but I can't reproduce it :). Perhaps setting up the project locally another couple of items fixed it.
Anyway - thanks for the help :)

[2021-09-15 16:22] akirilyuk opened #156 "No tab showing up after installing on IntelliJ 2021.2.1"
After installing the plugin, I am not able to see the EnvFile tab.

![image](https://user-images.githubusercontent.com/45361199/133471440-810fbe84-94ce-4358-8cde-15bcc9420646.png)

![image](https://user-images.githubusercontent.com/45361199/133471539-2b6048bc-3854-42ef-8cf3-80b8c051f4ad.png)

[2021-09-21 14:02] martin-sucha opened #157 "No options in menu for adding file in GoLand"
GoLand 2021.2.3
Build #GO-212.5284.40, built on September 14, 2021

EnvFile 3.2.2

![Screenshot from 2021-09-21 15-40-47-crop](https://user-images.githubusercontent.com/2007393/134185004-9b921f96-9323-4e6f-abc4-83bb187a95db.png)

[2021-09-22 19:24] mdassow-varde commented on #125
I'm still getting this issue in Pycharm with no Kotlin plugin installed

[2021-09-23 12:08] 1oglop1 commented on #155
Thank you @ashald This plugin is an essential part of IntelliJ and JB refuses to integrate it for 10 years!
It's a real shame they did not want to provide you with a license!
There are now very few things that IntelliJ can do and VSCode cannot.

[2021-09-30 08:40] #144 closed, assigned to nobody

[2021-10-06 18:06] paulb39 commented on #135
I had the same issue.
To fix you need to add a .env file in the project folder. So I added a vars.env file, reloaded intelij, and then in that menu the file came up.
This information should be added to the main project page - or there should be a "add new file" option in the drop down.

[2021-10-06 18:06] paulb39 commented on #157
I had the same issue.
To fix you need to add a .env file in the project folder. So I added a vars.env file, reloaded intelij, and then in that menu the file came up.
This information should be added to the main project page - or there should be a "add new file" option in the drop down.

[2021-10-07 19:37] CAATRV opened #159 "Java Exception in PyCharm on linux"
Hi,
I'm using PyCharm Professional 2021.2.1 on Ubuntu 20.04.
When I use the EnvFile pluging I get a little red exclamation mark in the lower right of the PyCharm window. When I click on it, it says the following:

Exception in plugin EnfFile (3.2.2)

java.lang.Throwable: Assertion failed: dataContext has no component for new ListPopupStep
	at com.intellij.openapi.diagnostic.Logger.assertTrue(Logge

[2021-10-25 06:03] shinichy commented on #102
@ashald I implemented this functionality in the way you suggested. Would you review https://github.com/ashald/EnvFile/pull/160? Thanks!

[2021-10-29 13:50] EdEngle commented on #159
I get the same thing in Mac.
[code]

[2021-11-02 10:07] Denis-Alexeev commented on #159
I get the same in Mac BigSur
PyCharm 2021.2.2 (Professional Edition)
Build #PY-212.5284.44, built on September 14, 2021
plugin version 3.2.2

[2021-11-02 10:20] Denis-Alexeev commented on #159
Is there any chance that it is caused by empty line at the end of env file?

[2021-11-02 14:19] CAATRV commented on #159
@Denis-Alexeev I just tried to remove the empty line at the end of my .env file, and then started the debugger. In the past this would have caused the red exclamation mark, but now that I removed the empty line it isn't coming up anymore.
So it is just 1 early test, but so far it looks like: yes, it was being caused by the empty line.

[2021-11-02 20:10] CAATRV commented on #159
@Denis-Alexeev , sorry, no it is not the case. I continued working in PyCharm this afternoon and even with the empty line at the end of the .env file no longer there, I am still getting the red exclamation mark and the long list of java errors. Shame! I thought the problem was gone, but it isn't.

[2021-11-03 13:59] ttecles opened #161 ".env not loaded"
I have Pycharm Professional 2021.2.3 but I added a .env file and I do not see any defined var in the environment

[2021-11-05 16:24] efenderbosch commented on #159
Also getting this. Started w/ the update to IntelliJ 2021.2.3. Unlike others, the plugin is not working for me. I have to copy and paste in my env vars to the run config manually.

[2021-11-11 10:24] vanaoff commented on #161
My suspicion is that it's somehow related with new test framework autodetect feature. If I run test with autodetect `.env` file is not respected. However if I create configuration specifically to `pytest`, it's working as expected.

Workaround is to go to _Settings > Tools > Python Integrated Tools_ and set the test framework for module to some deterministic value.

[2021-11-15 16:36] ttecles commented on #161
change it as you said and it is working. Problem related with autodetect feature.

[2021-11-30 19:30] efenderbosch commented on #159
FYI potential fix here: https://youtrack.jetbrains.com/issue/IDEA-266993

[2021-12-08 07:54] BorzdeG opened #162 "EnvFile plugin not supported in IDEA 2021.2"

[2021-12-08 23:13] avere001 commented on #161
This worked after I recreated the pytest run configurations.

[2021-12-09 16:38] tobini opened #163 "Feature request: EnvFile support for Exilir Mix ExUnit runners"
Thanks 🙏

[2021-12-09 22:25] lopes-gustavo opened #164 "Does not work in WSL2"
If I have Goland installed in Windows and using my project under WSL, this plugin won't load the variables (maybe it will, but probably in another environment).

I don't know how to debug to provide more info, but I'm willing to do so if someone guide me through.

[2021-12-13 03:50] zalito12 commented on #64
I have created a PR with sbt support, it's not updated to last IntelliJ version but it's something #167

[2021-12-13 03:51] zalito12 commented on #106
I have created a PR with sbt support, it's not updated to last IntelliJ version but it's something #167
I usually compile and run my play application with sbt tasks so it does the trick.

[2021-12-14 14:11] WillGibson opened #168 "Assertion failed: dataContext has no component for new ListPopupStep thrown in IntelliJ IDEA 2021.2.3"
I'm getting this when I open a project, but after that it seems to work fine, or at least the way I'm using it it does...

[code]

[2021-12-21 06:28] Josef-Reichardt commented on #162
It does also not work in 2021.3:
![Plugin error: File '~/.local/share/JetBrains/Toolbox/apps/IDEA-U/ch-0/213.5744.223.plugins/EnvFile/lib/envfile-3.2.1.jar' contains invalid plugin descriptor](https://user-images.githubusercontent.com/1203740/146882074-89420ccd-865d-4dc1-b50d-6e23114cb2f9.png)

[2022-01-06 00:20] dino-powerflex commented on #146
PyCharm 2021.2.4 (Professional Edition)
Build #PY-212.5712.39 built on December 20, 2021

EnvFile 3.2.2

Does not load env file. I have to manually copy contents of env file to 'Environment variables' for each test configuration.

Is there any plan to fix this for PyCharm 2021.2.x?

[2022-01-09 14:57] ashald commented on #162
Did you try version `3.2.2`?

[2022-01-10 07:55] Josef-Reichardt commented on #162
No, now I found out that I haven't installed this plugin. I don't know why this message appears, maybe another plugin brings this as dependency or there are any old files in a cache directory of IntelliJ IDEA? Now I have installed the plugin (version `3.2.2`) using the plugin marketplace and the error is gone. :+1:

[2022-01-10 14:21] kato-m commented on #164
I am on PyCharm 2021.3 (build #PY-213.5744.248) and experiencing the same issue.

[2022-01-19 14:11] damiansima opened #169 "System env var expansion not working"
When loading an env var that looks like:

`MY_VAR=${AN_ACTUAL_ENV_VAR}`

Where the variable AN_ACTUAL_ENV_VAR is part of the system (in my particular case set through .bash_profile) the content of MY_VAR evaluates "" (empty string).

The run dialog in Idea shows the env var (AN_ACTUAL_ENV_VAR) being loaded with the actual content. At first I though it was idea not picking it up, but no.

Is this a

[2022-01-25 21:11] berserk-fan opened #170 "How can I remember files, so I won't need to reapply it after restart?How to apply the file to the whole project?"

[2022-01-26 03:51] ashald commented on #170
Have you tried setting it up in the template?

[2022-01-26 22:21] asteed commented on #135
I'm facing the issue of _Nothing here_ as well, and I already have 4 `.env` files in the root project folder
[code]

[2022-01-27 11:16] Luttik opened #171 "Truly global .env configuration."
It seems to me that in virtually every situation you want to load the `.env` file if it is available in the working directory or project root. I'd love to have support for this in a way that just enables this cross-project and cross-pycharm-feature.

Especially for those who manage many projects the best workflow you can currently have (as far as I know) is the following

- for each new project
-

[2022-01-27 11:47] piavgh commented on #156
Same with Goland 2021.3.2

[2022-01-28 09:04] ryanfox1985 commented on #170
I have the same issue with Scala, even using the Test template, Idea doesn't load the envfile when a new testsuite is created. Also as @mamat14 mentioned every time I restart Idea, the envfile tab resets to default values (all blank and envfile unselected) and I need to load again.

EnvFile version: 3.2.2
IntelliJ IDEA 2021.3.1 (also with the CE edition happens)
MacOS Monterey (12.1)

[2022-01-29 12:26] kolegran commented on #72
This not helps. Unfortunately :(

[2022-01-31 00:22] marjeta42 commented on #171
Yes!  If I right-click on a unittest module, class, or function and run/debug it, it automatically creates a new run configuration. if it doesn't exist yet. So, I can easily have 20 different run configurations.

This requested feature is really a deal-breaker for me.

At this point, it seems the simplest way is to edit the `activate` script in the virtual environment. It's an ugly way to do it, b

[2022-02-01 18:03] cies opened #172 "Assertion failed: dataContext has no component for new ListPopupStep"
First, love the plugin. Second, no worries if you do not find time to fix it. No urgent issue, I can do my work with the plugin just fine (ignoring the red blinky thingy appears some times), I understand everyone has priorities, and I could fix it myself I guess. :)

Got it with: IDEA Community 2021.3.2

[code]

[2022-02-01 19:36] davidmnoriega commented on #164
Using IntelliJ Ultimate with a Run Target to tasks in wsl2 and also confirm they dont get any environment vars from EnvFile

[2022-02-02 17:26] Deliganli commented on #164
IntelliJ Ultimate, 2021.3, WSL2 Ubuntu. Same issue

[2022-02-09 16:00] ArtemZip commented on #164
Could not set the value of environment variable '=::': could not putenv() (errno 22: Invalid argument)

[2022-02-23 18:17] juskaiser commented on #172
Also seeing this on `PyCharm 2021.3.1 (Professional Edition)`

[code]

[2022-03-04 20:44] eltonsandre opened #174 "Assertion failed: dataContext has no component for new ListPopupStep"
[code]
### Environment :
IntelliJ IDEA 2021.3.2 (Community Edition)
Build #IC-213.6777.52, built on January 28, 2022
Runtime version: 11.0.13+7-b1751.25 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
Linux 5.14.0-1024-oem
GC: G1 Young Generation, G1 Old Generation
Memory: 3048M
Cores: 8
Registry:
    debugger.watches.in.variables=false
    documentation.show.toolbar=true
    ide.tooltip.in

[2022-03-07 04:57] deluan commented on #102
While we don't have @shinichy's PR merged, my current workaround is to change the syntax of the `.envrc` file to:
[code]

That way both _direnv_ and _EnvFile_ can load the file correctly.

[2022-03-08 10:47] lzorzer commented on #171
Hello,
Same here, we have many many java projects, and it's tiresome for each one to specify the file.
If you have a `.env` at the root level of your project, it could be automatically loaded without any risks I think, like NPM does.
Thanks

[2022-03-15 21:43] kim-afterpay commented on #174
Can confirm, seeing the same stacktrace when I click on any items in the list (after pressing `+`)
<img width="772" alt="image" src="https://user-images.githubusercontent.com/63627584/158477677-9204699a-6840-432b-bb31-616014d53d1d.png">

[2022-03-21 17:31] helloworldless commented on #129
I think there is an underlying issue with PyCharm here.

I noticed that, when running tests, it does not pick up the environment variables from the Run Configuration Environment if I use Run. However, it does pick them up if I use Debug.

[2022-04-04 05:19] ansidev opened #175 "Separate EnvFile Configuration between Run Configurations"
Expected:
- Run Configuration (RC) A: Load app.env.dev
- Run Configuration B: Load app.env.test

Problem: The EnvFile configuration is a global config, so if I load `app.env.dev` in RC A, RC B will load `app.env.dev` the next time unless I update EnvFile config.

[2022-04-07 08:27] ttecles opened #176 "Plugin not working in PyCharm 2022.1 EAP"
I used the plugin in 2022.1 EAP and it is not loading the file. I have also changed the Tools > Python Integrated Tools > Testing to not have `autodetect` but it is still not loading the .env file

[2022-04-07 21:40] matthewcornell opened #177 ".env file picker on Mac not showing ".env file" (i.e., file with extension only)"
Hi There. Thanks a ton for your tool. I've been putting off updating IDEA because of past issues with EnvFile, but I finally got around to trying the two together. First thing I noticed is that the file picker doesn't show my file named ".env" in my project, i.e., files with an extension but no name. It does allow picking files with both name and extension. It's my understanding that ".env" is a c

[2022-04-07 21:57] ashald commented on #177
Have yo tried instructions from readme? https://github.com/ashald/EnvFile#hidden-files

[2022-04-08 13:58] matthewcornell commented on #177
Damn, sorry about that. I forgot to RTFM. I assumed that the Finder setting that I changed ages ago in the Terminal would carry through to the select dialogs. Thanks again for the excellent tool.

![Screen Shot 2022-04-08 at 9 48 08 AM](https://user-images.githubusercontent.com/1034007/162450747-4e5339c8-d4aa-4106-9dc3-51beb3eda1e4.png)

[2022-04-08 13:58] #177 closed, assigned to nobody

[2022-04-14 14:01] ben-peterson-at-numerated commented on #169
I'm having the same issue with EnvFile.  As a workaround, PyCharm offers a nice copy/paste feature in its native Environment Variables dialog - I copied and pasted the variable values I needed from the "System" list to the "User" list.  Somewhat inconvenient, but better than typing by hand.

[2022-04-20 17:32] luiscoms commented on #171
Agreed, load default dot env file at root directory is very useful feature

[2022-04-20 17:41] luiscoms commented on #171
I guess that is related to #31

[2022-04-25 14:56] medington opened #178 "[Bug] Installing EnvFile plug breaks run configuration variables"
Simply installing the plugin causes normal run configuration environment variables to be ignored.

Steps:
---
 - Uninstall EnvFile if installed / restart IDE
 - Create a new empty project
 - Create a new bash script file with:
[code]
 - Click the green arrow next to shebang to create run config and run the script
 - Note the script exits with (as expected):

- Open run configuration and set `DEBUG

[2022-05-01 00:02] stevetarver commented on #176
This plugin is a great idea ;)
Unfortunately, not work for me in PyCharm version 2022.1
Tried a simple example having a single var in .env and json formats following examples on repo root README.md
In case this helps:
[code]

[2022-05-02 11:29] JamieStivala commented on #36
+1, this would be a great addition for this plugin

[2022-05-11 22:00] nebiros opened #179 "java.lang.Throwable: Assertion failed: dataContext has no component for new ListPopupStep"
[code]

[code]

[2022-05-18 07:00] ghost opened #180 "Error in PyCharm 2022.1.1"
java.lang.Throwable: Assertion failed: dataContext has no component for new ListPopupStep
	at com.intellij.openapi.diagnostic.Logger.assertTrue(Logger.java:218)
	at com.intellij.ui.popup.PopupFactoryImpl$ActionGroupPopup.createStep(PopupFactoryImpl.java:257)
	at com.intellij.ui.popup.PopupFactoryImpl$ActionGroupPopup.<init>(PopupFactoryImpl.java:215)
	at com.intellij.ui.popup.PopupFactoryImpl$Acti

[2022-05-18 09:38] ghost commented on #180
After opening and closing the Run settings several times, was I able to attach an env file

[2022-05-25 16:19] spuliaiev-sfdc commented on #135
Same here. Add FIle does nothing, and no files are shown in the popup.

[2022-06-02 11:05] Mart-Bogdan commented on #179
Same here in IDEA
[code]
<details>
  <summary>Stack trace</summary>
[code]
</details>

[2022-06-03 19:44] serg-bloim opened #181 "Envfile does not work for python unit tests in Pycharm. But it works for regular python run configs."
It gives this stacktrace when enable envfile setting for the unit test
[code]

[2022-06-05 02:14] Claudio-code commented on #164
IntelliJ Ultimate, 2022.1.2, WSL2 Debian same issue

[2022-06-09 04:20] craigadamherring commented on #179
Same.
I believe it is causing the .env file I specify in my Gradle run configuration to be not be read.
Attached what my run config looks like.

[code]
[code]

<img width="1314" alt="image" src="https://user-images.githubusercontent.com/20256715/172763297-a755d582-d63d-4602-b120-9d3f9e75468a.png">

**Edit**
I'm not sure this error is related to my problem of not being able to load the .env file.
O

[2022-06-14 19:13] aanno opened #182 "WSL2 error : export: ProgramFiles(x86): bad variable name"
With IntelliJ on windows, the plugin seems to cause problems with WSL support. See https://stackoverflow.com/questions/69721714/intelij-idea-in-wsl2-error-export-programfilesx86-bad-variable-name for details.

I encountered the problem as well and could confirm that the problem is still present in IntelliJ IDEA 2022.1.2 (Ultimate Edition).

[2022-06-22 02:58] nello commented on #164
Trying to use this for Java in IntelliJ Ultimate 2022.1.2 it doesn't seem to do ... anything. No environment variables in my `.env` file are actually set in my run configuration, no matter what I do.

<img width="1030" alt="image" src="https://user-images.githubusercontent.com/966106/174933600-653fbe9d-d972-48ee-9261-72163a512bf9.png">

`TP_FIREBASE_URL` is pretty much the *first* variable set in

[2022-06-22 07:56] nbro10 commented on #174
I am also getting this error (after I restarted PyCharm).

Here are my specifications

- Mac OS Monterey, 12.3.1 (21E258)
    - MacBook Air (M1, 2020)
- Chip: Apple M1
- RAM: 26. GB
- PyCharm 2022.1.1 (professional edition)
    - Build #PY-221.5591.52, built on May 10, 2022
    - Runtime version: 11.0.14.1+1-b2043.45 x86_64
    - VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.

I had installed th

[2022-07-05 20:08] novaws commented on #121
any updates on this issuse?

[2022-07-11 07:25] datatalking opened #183 "Getting error when using envfile plugin."
When i go to load this file I get an error. So we have disabled your plugin for now on pycharm PyCharm 2022.1.1 (Professional Edition)
Build #PY-221.5591.52, built on May 10, 2022
Runtime version: 11.0.14.1+1-b2043.45 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
macOS 10.13.6
GC: G1 Young Generation, G1 Old Generation
Memory: 19050M
Cores: 24
Registry:
    debugger.watches.in.variables=

[2022-07-22 17:39] clairenguyen opened #184 "Supporting .env.* file extensions"
The extension doesn't seem to support to .env files that have other extensions for different environments. e.g.
- `.env.development`
- `.env.local`
- `.env.docker-local`

[2022-07-26 22:18] luiscoms opened #185 "Empty environment variables on IntelliJ IDEA 2022.2 (Community Edition)"
I am getting empty environment variables on Python projects even I set a value after IntelliJ Update

[code]

[2022-07-27 16:48] chrisbroome commented on #185
Same issue is happening with IntelliJ IDEA 2022.2 (Ultimate Edition) as well.

[code]

[2022-07-28 15:29] ghost commented on #185
Same here.

[code]

[2022-07-29 10:23] pivoshenko commented on #185
Same for me.

[code]

[2022-07-29 11:07] wb7777 commented on #185
@ashald

Same.

I have a stack trace:

![image](https://user-images.githubusercontent.com/16152630/181744953-35685b38-c2ef-4a6a-8f09-a7a404bea41d.png)

<details><summary>stack trace</summary>

[code]
</details>

[2022-07-29 19:29] leandrorebelo commented on #185
Same error here

[2022-07-29 20:42] robertosegura commented on #185
Having the same error.

[2022-07-30 03:04] datatalking commented on #171
So who is working on this or what is involved in moving the ball forward? I can help write tests, documentation or code but this would be helpful in the management many projects.

[2022-07-30 21:49] Cabalist commented on #185
oof. ... Those feature requests are 11 and 7 years old respectively.

[2022-07-31 09:57] yo1122c opened #186 "plugin stopped working after pycharm update"
pycharm updated, now you don't recognize any vars. didn't find a new version for envfile.

[2022-07-31 10:52] ebarti commented on #185
This issue is fixed in the master branch of this repo (see https://github.com/ashald/EnvFile/pull/158 ), which has not yet been published. You can install it by building from source and adding the plugin from the generated zip file.

I have tried it and **the issue of empty env vars persists,** which means it unfortunately is not related to this exception and there is no fix available yet... 😞

[2022-07-31 11:25] thelfensdrfer commented on #186
See https://github.com/ashald/EnvFile/issues/185

[2022-07-31 13:22] sterwill commented on #185
I'm not a user of the EnvFile plugin, but I'm subscribed to updates on [PY-5543](https://youtrack.jetbrains.com/issue/PY-5543) and I saw a comment about the recent version incompatibility.

For EnvFile users with simple `.env` files, in `key=value` format, [patch-env](https://pypi.org/project/patch-env/) might be a good work-around until this plugin gets updated.  `pip install patch-env` and set `

[2022-08-01 08:42] KhanMechAI commented on #185
For those wanting to employ then patch_env solution with an env file local to your script/module path, you can use something like this:

`PATCH_ENV_COMMAND=cat $(pwd)/.env`

[2022-08-01 17:49] mousomer commented on #185
@KhanMechAI  Use:
`grep -Ev '(#|^$)' $env_file_name`
to skip comments and empty lines in the env file.

[2022-08-04 17:46] larrykooper commented on #185
For me, installing Pycharm Professional 2021.3.3 fixed the issue. You can do it here  https://www.jetbrains.com/pycharm/download/other.html
I am running a Mac with Apple silicon

[2022-08-06 07:28] PATAPOsha opened #187 "Stop working after changing branch"
After changing branch plugin stops working. Environment variables become empty. However, .env file still marked as active in "Run/debug configuration" section. Tried to disable/enable it manually and delete/add .env file in configuration window - nothing helps.

Tried on PyCharm 2022.1.1, MacOS 12.4

[2022-08-09 08:25] OlehChyhyryn commented on #185
@larrykooper degrading of your PyCharm version is not the issue fix

[2022-08-10 15:43] pvicente opened #188 "It installs but doesn't work in Pycharm 2022.2"
Plugin installs but doesn't work on Pycharm version `Build #PY-222.3345.131, built on July 27, 2022`

[2022-08-11 02:19] hammersharkfish commented on #187
Have you found a solution . I have the same issue .

[2022-08-11 14:45] OlehChyhyryn commented on #188
Duplicate of https://github.com/ashald/EnvFile/issues/185

[2022-08-11 14:45] vetruvet commented on #188
Seeing the same thing on IntelliJ IDEA version `Build #IU-222.3345.118, built on July 26, 2022`

[2022-08-11 23:28] fabiopedrosa commented on #188
Same here 😢

[2022-08-14 22:00] SpudInNZ commented on #185
@ashald Is this project being maintained? Is there a fix for this issue on the horizon?

[2022-08-15 08:35] OlehChyhyryn commented on #185
@ashald previous time fix took a lot of time. So it's rarely supported

[2022-08-16 13:08] unluckynelson commented on #188
The workaround for now is:

- Copy your env file contents to clipboard
- Edit your run configuration's environment variables
- Click the small paste button

[2022-08-23 10:26] youssefmzouri commented on #185
Same here :(

[2022-08-23 16:22] dehidehidehi commented on #185
Same issue here

[2022-08-23 21:46] dehidehidehi commented on #185
Here's a bash script which would allow to easily concatenate the contents of multiple .env files.
Just save this script and pass the .env file path (relative or absolute) as arguments.
[code]

Examples usage:
`patchEnvProvider.sh envfile1.sh envfile2.sh envfile3.sh`

Here's the link to the gist in case I update the code.
https://gist.github.com/dehidehidehi/6c92f618e4d841e6cc8b2dce8a3b0b7d

[2022-08-26 09:50] brunierterry opened #189 ""Assertion failed: dataContext has no component for new ListPopupStep" & `.env` settings not persisted"
Hi,
I got a stack trace 🎉
But I wonder if it's related to the problems I always had with `EnvFile` :
- `.env` settings are reset anytime I restart IntelliJ (so I must re-add my settings for all tests)
-  test templates `.env` settings don't apply when I create a new test/debug run config (when I run a new test)

 Anyway, according to IntelliJ (version below),  I got the following stack with EnvFil

[2022-08-26 16:28] Astro1247 commented on #185
Got same issue in PyCharm 2022.2.1 Professional Edition.

Build #PY-222.3739.56, built on August 16, 2022

Runtime version: 17.0.3+7-b469.37 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.

It worked before IDE update, but now I get empty env variables in any existing/new run configurations.

[2022-08-29 23:00] TheCataliasTNT2k commented on #189
Duplicate of #185

[2022-08-29 23:01] TheCataliasTNT2k commented on #183
See #185

[2022-08-30 09:51] sherghan commented on #185
Same issue, PyCharm 2022.2.1 Pro.
I used to have shell automation for changing environment files and everything would run smoothly.
Now I'm flooded with hand updated configuration profiles that constantly get out of date.

[2022-08-30 17:43] wizardion commented on #185
@ashald Do you plan to fix this issue or is this project abandoned already?

[2022-08-31 15:18] Thorbenl commented on #185
@ashald are u planning to fix this?

[2022-08-31 15:37] HassanAbouelela commented on #185
I can't quite figure out why it's broken, but I managed to get the plugin working in pycharm using an experimental internal API.  [Releases here](https://github.com/HassanAbouelela/EnvFile/releases/tag/v3.2.5) | [Diff](https://github.com/ashald/EnvFile/compare/develop...HassanAbouelela:EnvFile:develop) | [CI for the release](https://github.com/HassanAbouelela/EnvFile/actions/runs/3091175568)

---

[2022-09-06 14:43] devurandom commented on #31
Thanks for the hint! I tried it (https://www.jetbrains.com/help/idea/run-debug-configuration.html#templates explains where to find the config) and it works very well. I especially like that (after you have figured out how to do it) it is very obvious which variables from which files are loaded where -- no automagic. :)

[2022-09-06 16:05] RockyMM commented on #185
@HassanAbouelela  thank you so much for this. Really looking forward to a stable solution.

[2022-09-06 16:36] HassanAbouelela commented on #185
Follow up: I have some bad news, and some good news. I asked on the slack again, and this time I got confirmation that this is in fact a bug! This most likely means that the plugin will not work in 2022.2 (unless we find other workarounds like the one for pycharm).

The good news is that this *is* a bug, and hopefully will be fixed or we'll get an alternative. I'll update this issue with a YouTrac

[2022-09-06 23:24] modernNeo commented on #185
@olegchigirin
but it provides a very use-able workaround for the time-being though. and its pretty easy to change what version you are using with the [toolbox](https://www.jetbrains.com/toolbox-app/)

[2022-09-06 23:39] pythrick commented on #188
Same here :(

[2022-09-07 09:51] 1oglop1 commented on #188
I just updated to RC 2022.2.2 `Build #PY-222.4167.4, built on August 31, 2022` and the plugin works there, so no need to downgrade, just opt in EAP
<img width="415" alt="image" src="https://user-images.githubusercontent.com/7480694/188848803-ee0e6f45-5b79-47e6-a729-d0eae098e7fc.png">

[2022-09-07 18:19] HassanAbouelela commented on #185
Youtrack: https://youtrack.jetbrains.com/issue/PY-56172/RunConfigurationpatchCommandLine-Not-Called-In-20222

There's a lot of templates to choose from here, lets hope this was reported correctly, and to have a fix in the next version 😅.

[2022-09-08 15:21] zack-kimble commented on #188
For me upgrading to RC 2022.2.2 does not work on Ubuntu.

That is pycharm-professional RC 2022.2.2 (Build #PY-222.4167.4, built on August 31, 2022) via snap pycharm-professional latest/candidate channel  on Ubuntu 20.04

Downgrading to 2022.2.1 fixes the problem.

[2022-09-16 11:24] ghukill commented on #185
FWIW, I'm using the following pycharm build:

[code]

And [this v3.2.4 release](https://github.com/HassanAbouelela/EnvFile/releases/download/v3.2.4/EnvFile-3.2.4.zip) of the plugin from @HassanAbouelela appears to work.  Many thanks for this stopgap!

[2022-09-19 09:22] voneiden commented on #185
FYI @HassanAbouelela 's 3.2.4 appears to work on Python modules with IDEA too, although I do get some noisy errors thrown presumably since the idea implementation is commented out in build.gradle

[code]

[2022-09-19 16:17] franciellevp opened #190 "env file not being recognized in yaml file"
I have a yml file with env variables

Input:
  app_id: ${APP_ID}
  api_key_id: ${API_KEY_ID}
  ...

the values are setted in a .env file. but when i try to run the error of not finding the variable "APP_ID" is showed.
![Screenshot_20220919_131336](https://user-images.githubusercontent.com/40124973/191064065-fcf0a5a6-9293-41b2-bb89-513b6272db11.png)

In the python files all works fine, but in the y

[2022-09-20 12:56] Olegt0rr commented on #185
@ashald, is this repo abandoned?
Should I use @HassanAbouelela fork instead?

[2022-09-20 14:45] Vanderhoof commented on #185
@HassanAbouelela 's 3.2.4 works on PyCharm 20222.2.2, but sadly it breaks **Python Console** tab : (

![Screenshot 2022-09-20 at 16 46 09](https://user-images.githubusercontent.com/12543857/191289801-60be832b-e011-4a33-890e-82d9dbedb15d.png)

[code]

[2022-09-20 15:06] HassanAbouelela commented on #185
Thanks for the report @Vanderhoof, fixed in [3.2.5](https://github.com/HassanAbouelela/EnvFile/releases/tag/v3.2.5)

[2022-09-21 06:46] bayangan1991 commented on #185
Hey @HassanAbouelela, thanks so much for getting this working again.

I'm having issues with the Python Console not starting up in the project working directory or the one specified in the Python Console settings window.

I can add a `os.chdir` call to the start of the console start script to get around this but thought it was worth mentioning

[2022-09-21 06:58] HassanAbouelela commented on #185
Hey, is this before or after the fix released yesterday (3.2.5)? Could you share the error message.

[2022-09-21 08:02] bayangan1991 commented on #185
After the 3.2.5 fix as the console did not work at all before. Unfortunately there is no error message as the shell launches just fine. It just appears to be starting in the incorrect directory.

Edit: Also not ruling this out at a me issue as I can't replicate it in a new project window.

[2022-09-21 08:26] HassanAbouelela commented on #185
Off the top of my head, I can't think of anything in the code that'd affect the directory, however let me know if you manage to reproduce in an empty project.

If you'd like to debug your other project, disable the plugin and see if it still causes the issue.

[2022-09-21 08:36] bayangan1991 commented on #185
Looks like it's entirely unrelated and specific to the Django Console. Thanks for the help!

[2022-09-22 03:40] ashald commented on #190
1. The YAML env provider treats the YAML file as a dictionary so your file would result into 1 env var called `input` - just run a simple program that prints out env vars and you will see it
2. You need to check "Substitute Environment Variables"

[2022-09-22 03:40] #190 closed, assigned to nobody

[2022-09-22 03:41] ashald commented on #189
Closing as duplicate - follow #185.

[2022-09-22 03:41] #189 closed, assigned to nobody

[2022-09-22 03:43] ashald commented on #187
That's not enough details to investigate a potential issue (even if there is one).
Feel free to reopen with more details.

[2022-09-22 03:43] #187 closed, assigned to nobody

[2022-09-22 03:44] ashald commented on #188
Follow #185 for updates.

[2022-09-22 03:44] #188 closed, assigned to nobody

[2022-09-22 03:45] ashald commented on #186
Follow #185 for updates.

[2022-09-22 03:45] #186 closed, assigned to nobody

[2022-09-22 03:47] ashald commented on #185
It's exciting to see how many people use the plugin judging from the number of complaints about it breaking. I wish it correlated with number of Github Sponsor donations to support plugin development. Or at least with a number of pull requests contributing fixes.

I personally don't have a need to use the latest version of IDE and been perfectly fine using older versions, though as I plan to add f

[2022-09-22 04:09] yoonthegoon commented on #179
getting the same error and am unable to read my .env.
however, enabling experimental integrations or changing the default test runner (as mentioned [here](https://github.com/ashald/EnvFile/issues/161#issuecomment-966184489)) don't resolve me being able to read my .env.

[2022-09-22 04:30] modernNeo commented on #185
@ashald I can't speak for anyone else but I personally would be willing to support you financially with Paypal if you had one linked on your profile. 😄  Can't deny your plugin has been *very* helpful with my Pycharm usage

[2022-09-22 17:28] franciellevp commented on #190
Sorry I dont really get it and I think I wasnt clear. I checked "Substitute Environment Variables" and isnt working yet.

I have a .env file and a YAML file that uses the variables setted in the .env

.env
APP_ID=123
API_KEY_ID=123
...

credentials.yml:
app_id: ${APP_ID}
api_key_id: ${API_KEY_ID}
...

the file credentials.yml cant find the var APP_ID

[2022-09-22 17:28] franciellevp commented on #190
Sorry I dont really get it and I think I wasnt clear. I checked "Substitute Environment Variables" and isnt working yet.

I have a .env file and a YAML file that uses the variables setted in the .env

.env
APP_ID=123
API_KEY_ID=123
...

credentials.yml:
app_id: ${APP_ID}
api_key_id: ${API_KEY_ID}
...

the file credentials.yml cant find the var APP_ID

[2022-09-23 23:07] ashald commented on #190
I cannot reproduce the issue you're describing - see screenshot demonstrating setup with 2 files and interpolation across them.
![CleanShot 2022-09-23 at 19 06 53@2x](https://user-images.githubusercontent.com/397987/192067837-e836f654-38db-434f-a3e4-df334fbe0eeb.png)

[2022-09-26 13:15] wooyek commented on #185
Sponsor here > https://github.com/sponsors/ashald

PS. @ashald please setup One-time tiers :)

[2022-09-27 14:58] Elizaveta239 commented on #185
Hi @ashald! Thank you for creating such a popular plugin! I work at JetBrains and we'll be happy to provide a pull request to fix 2022.2 compatibility! (we had a huge refactoring in the 2022.2 release and most likely that was the reason of the broken plugin). Unfortunately, we didn't notice it earlier.

Would you be interested in such pull request? (asking just to make sure you're not working on i

[2022-09-27 15:23] RockyMM commented on #185
@ashald I am sorry, but it looked like you abandoned the repo. I am using @HassanAbouelela's fork at the moment.

[2022-09-27 16:02] ALERTua commented on #185
@Elizaveta239 , может вы в JetBrains имплементируете настолько необходимую функциональность напрямую в продуктах Idea без надобности плагинов? как раз, после отпуска с новыми силами. м? стыдно копировать из Run Configuration в Run Configuration переменные среды раз за разом из-за брошенного репозитория плагина.
спасибо.

[2022-09-27 16:07] thelfensdrfer commented on #185
Thanks.

[2022-09-28 10:34] Elizaveta239 commented on #185
We have plans to implement this functionality as part of the product but later. Implementing a fix for the existing popular plugin is the fastest solution we can provide at the moment. Sorry for the inconvenience!

[2022-09-28 11:56] wooyek commented on #185
Maybe you could just pay the authors to support the plugins and keep them in the loop for breaking changes.

The practice of using community contributors for free to discover what features are in demand, and them discarding their work in favor of internal implementations is questionable.

I guess you are the ones that should setup a sponsorship on @ashald account ;P

[2022-09-28 12:28] HassanAbouelela commented on #185
I think this change would've been apparent in early builds of 2022.2 but there definitely could've been more done to communicate any of this.

The refactoring was not documented anywhere to my knowledge, and not listed in the breaking changes list. The APIs are still accessible and documented, despite being unable to access them for some IDEs (IntelliJ). They are also inconsistently documented, wi

[2022-09-28 20:06] jroush-vf opened #191 "Semicolons replaced with colons"
EnvFile is replacing semicolons in variable values with colons.  This behavior is not documented (AFAIK) and there doesn't seem to be any way to disable or escape it.

I am running PyCharm on Windows 11, but the project and .env file are in the WSL2 filesystem.

PyCharm Info:

    PyCharm 2022.1.3 (Professional Edition)
    Build #PY-221.5921.27, built on June 21, 2022
    Runtime version: 11.0.15

[2022-09-29 05:29] modernNeo commented on #185
@Elizaveta239 just to clarify, you mean essentially make this plugin unnecessary?

[2022-09-30 04:14] ashald commented on #185
@modernNeo thanks, noted - will update profile/readme to include links just in case you or anyone else would be feeling like doing so. 😊

@wooyek done!

@Elizaveta239 would appreciate a contribution! Please note I pushed some changes to update some of the dependencies. Also, would appreciate if you could clarify if the changes are only required for PyCharm, or if we should migrate to some new API

[2022-09-30 13:10] RockyMM commented on #185
@ashald Borys, that's not fair. I have a fair share of contributions to OSS - Liquibase, openapi-generator. I am in a position where my free time is extremely limited. I think that given my free time I gave back to the community.

I only took a quick look at this repo and saw open PRs from 2020. It really felt neglected. I know this plugin is fully OSS, but I did not feel it would be right that an

[2022-09-30 13:47] modernNeo commented on #185
@RockyMM

For all we know @ashald's time is even more limited than yours and they have already expressed the fact that they are not being supported as much as they need to be financially by the users of this plugin [myself included], couple that with the fact that this is OSS, it's par for the course imo for an OSS repo to sometimes feel abandoned.

[2022-09-30 15:19] acarlstein opened #192 "Why the command line used to extract information for the export isn't executed?"
# Summary

_First, thank you for taking a look into the current issue I created. Much appreciated._

I need some environment variables, which are required for the Spring Boot app to run, which values are obtained from the Secret Manager in GCP.

# Description

Normally, if I do the following, it works:

1) I create a file with the exports (i.e.: .envs):

[code]

2) I run the command `source .envs'

[2022-09-30 16:15] ashald commented on #185
To be clear, I didn't mean to pick on anyone personally - apologies if that was an impression.

What I'm saying is that when I see a person with exclusive background in e.g. Python commenting on the issue like this, I have no questions whatsoever as they simply may lack expertise in Java to contribute a fix. When I see a person with lots of repos in Java, I'd imagine nothing really stops them from

[2022-10-02 07:30] ashald commented on #185
FWIW, I pushed fixes into the develop branch.
I plan to include few extra small fixes and release a new version coming week. Stay tuned.

[2022-10-02 07:51] #104 closed, assigned to nobody

[2022-10-02 13:26] HassanAbouelela commented on #185
Glad to see things are still picking up steam here! I've gone ahead and added notices to my fork telling people to head back here. If you had installed one of my releases, and would like to go back, just uninstall, and reinstall directly from the plugin marketplace once it's available there.

[2022-10-02 18:06] mrworkman commented on #185
Lol, was just about to open a pull request with fixes for Idea and PyCharm... oh well, learned a lot about JetBrains plugins 😆

[2022-10-02 19:36] ashald commented on #185
@mrworkman what did you plan to fix for IDEA? I was under impressions it works fine.

[2022-10-02 19:50] ashald commented on #185
OK, whatever, cut a new release https://github.com/ashald/EnvFile/releases/tag/v3.3.0

Going to submit it to JetBrains later tonight.

Going to resolve this issue, but if you find any bugs etc - feel free to reopen or create a new issue.

[2022-10-02 19:50] #185 closed, assigned to nobody

[2022-10-02 20:39] mrworkman commented on #185
EnvFile didn't work for me in IntelliJ 2022.2.2 until I updated to a more recent SDK and updated the method signature.

[2022-10-04 13:39] centum opened #193 "EnvFile won't turn off in run config"
EnvFile is disabled in run config, but it still passes IDE environment variables to docker-compose config.

<img width="555" alt="Screenshot 2022-10-04 at 14 48 53" src="https://user-images.githubusercontent.com/926423/193821928-74588f0b-dd05-4dd9-8118-a9117f80ebbe.png">

Example IDE overrode docker compose config **with installed EnvFile** but disabled on run config:
[code]
Example IDE overrode d

[2022-10-04 16:14] ashald commented on #193
Fixed in `v3.4.1` https://github.com/ashald/EnvFile/releases/tag/v3.4.1 - just uploaded to marketplace, may take couple of days to become available.

[2022-10-04 16:14] #193 closed, assigned to nobody

[2022-10-06 14:14] sasha-wing commented on #125
Happens to me as well with PyCharm 2022.2.2 with no Kitlin plugin installed

[2022-10-08 19:32] ashald commented on #125
This was supposed to be fixed with `3.4.1`. If you still face issues, open a new issue and note down your IDE version, your plugin version and run configuration in question.

[2022-10-08 19:32] #125 closed, assigned to nobody

[2022-10-10 16:10] LeRoiLapin opened #194 "Issue with variable substitution ($PROJECT_DIR$)"
Hi,

I just updated the EnvFile plugin to the latest version (as of today 3.4.1 but this is also valid for 3.4.0) and my whole project broke down. After a simple inspection it appears that the substitution for the `$PROJECT_DIR$` variable is wrong.

For a given `$PROJECT_DIR$` with the value `/path/to/project` and an .env file containing `TEST_VALUE=$PROJECT_DIR$/path/to/data` the substitution wil

[2022-10-11 03:18] ashald commented on #194
Can you share more details about EnvFile settings you use to reproduce the issue? Namely, is "Substitute env vars is enabled"?

[2022-10-11 08:28] ShrykeWindgrace commented on #194
I have the same issue. My settings are
![image](https://user-images.githubusercontent.com/6421233/195038437-f9e0f9a8-c61c-4c5b-86bf-4c2f1b164a6f.png)

[code]
With EnvFile-3.4.1 this variable get expanded to literally `$PROJECT_DIR$/something`. With EnvFile-3.2.2 it is correctly expanded to `/full/path/to/project/something`.

[2022-10-11 08:28] LeRoiLapin commented on #194
Sure.

The configuration I used is the same for each version (namely 3.2.2, 3.4.0 and 3.4.1) but I have yet to test if this issue is present for other version of intellij (I'm using the community edition, if I have enough time I will try to test with ultimate and another release).

As for the settings I have both `Substitute Environment Variables` and `Process JetBrains path macro reference` enabl

[2022-10-11 09:35] ShrykeWindgrace commented on #194
The problem boils down to the logic here:
https://github.com/ashald/EnvFile/blob/6fe1c3931b735474570005bd82298e969af82161/modules/platform/src/main/java/net/ashald/envfile/platform/EnvFileEnvironmentVariables.java#L121-L136

If there is both Intellij macro substitution and regular env var substition, then the value stored in `postMacro` is discarded, and only env var substitution is done.

I do no

[2022-10-11 11:05] zhu121 opened #195 "It not working in Goland when use remote target"
version：
GoLand 2022.2
EnvFile 3.4.1

example:
1. Add a SSH Server
2. Choice run on ssh target
3. Add a .env file in EnvFile

issue:
it can not working when use ssh target, but working nomally when use local machine

[2022-10-13 06:27] brunierterry opened #196 "EnvFile settings lost from templates and at each restart"
Apparently, the stack trace (in #189 ) I had wasn't related to my main problem.
So let's forget about the closed issue, and please consider the following symptoms:

-  test templates `.env` settings don't apply when I create a new test/debug run config
![image](https://user-images.githubusercontent.com/33851228/195517627-4d0489fc-e09b-4b34-bf2b-d91c38c43938.png)
- `.env` settings are reset anytime

[2022-10-13 15:31] franciellevp commented on #190
after the last update of Pycharm (2022.2.2 to 2022.2.3) the error isnt occurring anymore.
 Thanks for your replies. I think it was something with the versions of Pycharm Professional and the plugin.
![image](https://user-images.githubusercontent.com/40124973/195640438-80f31668-aedc-4670-b7d6-1f6d9df64ac1.png)

[2022-10-19 16:35] szaffarano commented on #185
@mrworkman it doesn't work in my environment, `Build #IU-222.4345.14, built on October 5, 2022`
What do you mean by `updated the method signature`?
Thanks

[2022-11-03 10:39] trduc79 commented on #194
I had the same issue with version newer than 3.2.2 that `$PROJECT_DIR$` is not recognized so cannot import packages from project folder.

[2022-11-04 11:57] ElSaico opened #200 "On multi-project windows, relative paths always point to first project"
Something that's bitten me when I first tried to use this plugin: regardless of the project set on the run configuration, path resolution goes straight to the topmost project.

Steps to reproduce:

1. Open a project
1. Open another project, choosing "Attach" on the following popup (so that both end up in the same window)
1. Create .env files on both projects with different values, on the same (rel